<?php if(isset($this->Registry->SessionStorage->Message)) {?>
	<div class="alert alert-<?php echo $this->Registry->SessionStorage->Message['class']?>"><?php echo $this->Registry->SessionStorage->Message['message']?></div>
<?php unset($this->Registry->SessionStorage->Message); } ?>
<div class="panel panel-primary">
	<div class="panel-heading">
		<div class="panel-title">Категории</div>
		<div class="panel-options">
			<a href="/admin/catalog/category/add/">
				<button type="button" href="/admin/catalog/category/add/" class="btn btn-xs btn-success">
					<i class="entypo-plus-squared"></i>
					<span>Добавить категорию</span>
				</button>
			</a>
		</div>
	</div>
	<table class="table table-bordered table-responsive">
		<thead>
			<tr>
				<th>Категория</th>
				<th>Алтернативное название</th>
				<th>Ссылка</th>
				<th>Действие</th>
			</tr>
		</thead>
		<tbody>
			<?php 
				foreach($this->arCategory as $key => $arCategory) { 
					$arCategory['link'] = str_replace('/category/', '/', $arCategory['link']);
				?>
			<tr>
				<td>
					<?php if($arCategory['parent_category'] != 0) { ?><span style="padding-left: 10px;"> - </span><?php } ?> <?php echo $arCategory['name'] ?>
				</td>
				<td><?php echo $arCategory['altname']?></td>
				<td><a href="<?php echo $this->Core->Url?><?php echo $arCategory['link']?>" target="_blank"><?php echo $arCategory['link']?></a></td>
				<td>
					<a href="/admin/catalog/category/edit/?id=<?php echo $arCategory['id']?>" class="btn btn-default btn-sm tooltip-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Редактировать">
						<i class="entypo-pencil"></i>
					</a>
					<a onclick="return confirm('Вы действительно хотите удалить категорию?');" href="/admin/catalog/category/?category_id=<?php echo $arCategory['id']?>&amp;DeleteCategory=Y" class="change_status btn btn-danger btn-sm tooltip-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Отменить">
					<i class="entypo-cancel"></i>
					</a>
				</td>
			</tr>
			<?php } ?>
		</tbody>
	</table>
</div>