<div class="authentication">
	<a href="#home" data-toggle="modal" data-target="#myModal">войти</a> или <a href="#">зарегистрироваться</a>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
	        <ul class="nav nav-pills" id="myTab">
				  <li class="active"><a href="#home" name="home" data-toggle="tab">Войти</a></li>
				  <li class=""><a href="#profile" data-toggle="tab">Зарегистрироваться</a></li>
			</ul>

				<div class="tab-content">
				  <div class="tab-pane active" id="home">
					<hr>
				  	<form class="form-horizontal" role="form" method="POST">
				  	<?php echo Rdl\Security\Security::getInstance()->getPostString(); ?>
				  	<input type="hidden" name="request_page" value="<?php echo $_SERVER['REQUEST_URI']?>" />
					  <div class="form-group">
					    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" id="inputEmail3" name="user_login" placeholder="Электронная почта">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputPassword3" class="col-sm-2 control-label">Пароль:</label>
					    <div class="col-sm-10">
					      <input type="password" class="form-control" name="user_password" id="inputPassword3" placeholder="Пароль">
					    </div>
					  </div>
					  <div class="form-group">
					    <div class="col-sm-offset-2 col-sm-10">
					      <div class="checkbox">
					        <label>
					          <input type="checkbox"> Запомнить пароль
					        </label>
					      </div>
					    </div>
					  </div>
					  <div class="form-group">
					    <div class="col-sm-offset-2 col-sm-10 text-center">
					      <button type="submit" class="btn btn-success btn-lg btn-block">Войти <span class="glyphicon glyphicon-share-alt"></span></button>
					    </div>
					  </div>
					</form>
				  </div>
				  <div class="tab-pane" id="profile">
				  	<hr> Регистрация
				  </div>
				</div>

				<script>
				  $(function () {
				    $('#myTab a:last').tab('show')
				  })
				</script>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>