<!DOCTYPE html>
<html lang="en">
<head>

	<?php echo $this->Title?>	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<?php echo $this->Header?>
	<?php
		echo $this->Helper->headLink()
   				->appendStylesheet($this->Template . '/assets/css/chosen.css')
   				->appendStylesheet($this->Template . '/assets/css/bootstrap.min.css')
   				->appendStylesheet($this->Template . '/assets/css/theme/avocado.css')
   				->appendStylesheet($this->Template . '/assets/css/prism.css')
   				->appendStylesheet($this->Template . '/assets/css/fullcalendar.css')
   				// ->appendStylesheet('http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,600,300')
   				->appendStylesheet($this->Template . '/assets/css/bootstrap-responsive.css');
    ?>

	<style type="text/css">
		body { padding-top: 102px; }
	</style>

	<!-- JavaScript/jQuery, Pre-DOM -->
	<script src="<?php echo $this->Template?>/assets/js/jquery.min.js"></script> 
	<!--<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>-->
	<script src="<?php echo $this->Template?>/assets/js/charts/excanvas.min.js"></script>
	<script src="<?php echo $this->Template?>/assets/js/charts/jquery.flot.js"></script>
	<script src="<?php echo $this->Template?>/assets/js/jquery.jpanelmenu.min.js"></script>
	<script src="<?php echo $this->Template?>/assets/js/jquery.cookie.js"></script>
	<script src="<?php echo $this->Template?>/assets/js/avocado-custom-predom.js"></script>

	<!-- HTML5, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>

<body>

	<!-- Top Fixed Bar -->
	<div class="navbar navbar-inverse navbar-fixed-top">

		<!-- Top Fixed Bar: Navbar Inner -->
		<div class="navbar-inner">

			<!-- Top Fixed Bar: Container -->
			<div class="container">

				<!-- Mobile Menu Button -->
				<a href="#">
					<button type="button" class="btn btn-navbar mobile-menu">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</a>
				<!-- / Mobile Menu Button -->

				<!-- / Logo / Brand Name -->
				<a class="brand" href="/admin/"><i class="icon-leaf"></i> RDL CMS Административная панель</a>
				<!-- / Logo / Brand Name -->

				<!-- User Navigation -->
				<ul class="nav pull-right">
					
					<!-- User Navigation: Notifications -->
					<li class="dropdown">

						<!-- User Navigation: Notifications Link -->
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-align-justify icon-white"></i>
							<span class="hidden-phone"> Notifications </span>
							<span class="badge badge-inverse">16</span>
						</a>
						<!-- / User Navigation: Notifications Link -->

						<!-- User Navigation: Notifications Dropdown -->
						<ul class="dropdown-menu widget">

							<!-- User Navigation: Notifications Top -->
							<li>

								<!-- User Navigation: Notifications Add News -->
								<a href="#" class="send" rel="tooltip" title="Add News"><i class="icon-edit"></i></a>
								<!-- / User Navigation: Notifications Add News -->

								<!-- User Navigation: Notifications Header -->
								<h2><i class="icon-align-justify"></i> Notifications 
								<span class="badge badge-light small">16</span></h2>
								<!-- / User Navigation: Notifications Header -->
							</li>
							<!-- / User Navigation: Notifications Top -->

							<!-- User Navigation: Notifications Item -->
							<li>
								<a href="#" class="note">
									<small>1 hour ago</small>
									<p><i class="icon-edit"></i> <b>You</b> added <b>We´ve launched!</b></p>
								</a>
							</li>
							<!-- / User Navigation: Notifications Item -->

							<!-- User Navigation: Notifications Item -->
							<li>
								<a href="#" class="note">
									<small>6 hour ago</small>
									<p><i class="icon-edit"></i> <b>You</b> added <b>Some changes</b></p>
								</a>
							</li>
							<!-- / User Navigation: Notifications Item -->

							<!-- User Navigation: Notifications Item -->
							<li>
								<a href="#" class="note">
									<small>12 hour ago</small>
									<p><i class="icon-envelope"></i> <b>Jason</b> sendt you a message</p>
								</a>
							</li>
							<!-- / User Navigation: Notifications Item -->

							<!-- User Navigation: Notifications Item -->
							<li>
								<a href="#" class="note">
									<small>15 hour ago</small>
									<p><i class="icon-user"></i> <b>Kate</b> added you as friend</p>
								</a>
							</li>
							<!-- / User Navigation: Notifications Item -->

							<!-- User Navigation: Notifications View All -->
							<li><a href="#" class="text-center"><i class="icon-inbox"></i> View All Notifications</a></li>
							<!-- / User Navigation: Notifications View All -->

						</ul>
						<!-- / User Navigation: Notifications Dropdown -->

					</li>
					<!-- / User Navigation: Notifications -->

					<!-- User Navigation: Messages -->
					<li class="dropdown">

						<!-- User Navigation: Messages Link -->
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-envelope icon-white"></i>
							<span class="hidden-phone"> Messages </span>
							<span class="badge badge-inverse">5</span>
						</a>
						<!-- / User Navigation: Messages Link -->

						<!-- / User Navigation: Messages Dropdown -->
						<ul class="dropdown-menu widget">

							<!-- User Navigation: Messages Top -->
							<li>

								<!-- User Navigation: Messages New Message -->
								<a href="#" class="send" rel="tooltip" title="New Message"><i class="icon-edit"></i></a>
								<!-- / User Navigation: Messages New Message -->

								<!-- User Navigation: Messages Header -->
								<h2><i class="icon-envelope"></i> Messages <span class="badge badge-light small">6</span></h2>
								<!-- / User Navigation: Messages Header -->

							</li>
							<!-- / User Navigation: Messages Top -->

							<!-- User Navigation: Messages Message -->
							<li>
								<a href="#" class="message">
									<small>1 hour ago</small>
									<h3><i class="icon-user"></i> Jason</h3>
									<p>Keep up the work! </p>
								</a>
							</li>
							<!-- / User Navigation: Messages Message -->

							<!-- User Navigation: Messages Message -->
							<li>
								<a href="#" class="message">
									<small>3 hour ago</small>
									<h3><i class="icon-user"></i> Janika</h3>
									<p>Did you update that thing? </p>
								</a>
							</li>
							<!-- / User Navigation: Messages Message -->

							<!-- User Navigation: Messages View All Messages -->
							<li>
								<a href="#" class="text-center">
									<i class="icon-inbox"></i> View All Messages
								</a>
							</li>
							<!-- / User Navigation: Messages View All Messages -->

						</ul>
						<!-- / User Navigation: Messages Dropdown -->

					</li>
					<!-- / User Navigation: Messages -->

					<!-- User Navigation: User -->
					<li class="dropdown">

						<!-- User Navigation: User Link -->
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-user icon-white"></i> 
							<span class="hidden-phone">Janika</span>
						</a>
						<!-- / User Navigation: User Link -->

						<!-- User Navigation: User Dropdown -->
						<ul class="dropdown-menu">
							<li><a href="#settings" data-toggle="modal"><i class="icon-cog"></i> Мои настройки</a></li>
							<li><a href="#messages" data-toggle="modal"><i class="icon-envelope"></i> Messages</a></li>
							<li class="divider"></li>
							<li><a href="/admin/logout/"><i class="icon-off"></i> Выход</a></li>
						</ul>
						<!-- / User Navigation: User Dropdown -->

					</li>
					<!-- / User Navigation: User -->

				</ul>
				<!-- / User Navigation -->

			</div>
			<!-- / Top Fixed Bar: Container -->

		</div>
		<!-- / Top Fixed Bar: Navbar Inner -->

		<!-- Top Fixed Bar: Breadcrumb -->
		<div class="breadcrumb clearfix">

			<!-- Top Fixed Bar: Breadcrumb Container -->
			<div class="container">

				<?php //echo $this->LoadComponent('Engine:speedbar');?>	

				<!-- Top Fixed Bar: Breadcrumb Right Navigation -->
				<ul class="pull-right">

					<!-- Top Fixed Bar: Breadcrumb Theme -->
					<li class="dropdown">
						<!-- Top Fixed Bar: Breadcrumb Theme Link -->
						<a href="/admin/lock/"><i class="icon-unlock-alt"></i> Блокировка</a>

					</li>
					<!-- / Top Fixed Bar: Breadcrumb Theme -->

					<li><a href="/admin/logout/"><i class="icon-off"></i> Выход</a></li>
				</ul>
				<!-- / Top Fixed Bar: Breadcrumb Right Navigation -->

			</div>
			<!-- / Top Fixed Bar: Breadcrumb Container -->

		</div>
		<!-- / Top Fixed Bar: Breadcrumb -->

	</div>
	<!-- / Top Fixed Bar -->

	<!-- Moldule: Settings -->
	<div id="settings" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel"><i class="icon-cog"></i> Account settings</h3>
		</div>

		<div class="modal-body">

			<form class="form-horizontal">
		
				<div class="control-group">
					<label class="control-label" for="inputName"><i class="icon-user"></i> Name</label>
					<div class="controls">
						<input type="text" id="inputName" placeholder="Name">
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="inputUsername"><i class="icon-user"></i> Username</label>
					<div class="controls">
						<input type="text" id="inputUsername" placeholder="Username">
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="inputPassword"><i class="icon-key"></i> Password</label>
					<div class="controls">
						<input type="password" id="inputPassword" placeholder="Password">
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="inputRepeat"><i class="icon-key"></i> Repeat Password</label>
					<div class="controls">
						<input type="password" id="inputRepeat" placeholder="Password">
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="inputEmail"><i class="icon-envelope"></i> Email</label>
					<div class="controls">
						<input type="text" id="inputEmail" placeholder="Email">
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="inputWebsite"><i class="icon-home"></i> Website</label>
					<div class="controls">
						<input type="text" id="inputUsername" placeholder="Website">
					</div>
				</div>
						 
		</div>

		<div class="modal-footer">

			<button class="btn btn-primary">Save changes</button>
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			</form>

		</div>

	</div> 
	<!-- / Module: Settings -->

	<!-- Module: Messages -->
	<div id="messages" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel"><i class="icon-comment"></i> Messages</h3>
		</div>

		<div class="modal-body no-padding">
		
			<div class="list-widget">

				<div class="item">
					<small class="pull-right">2 hours ago</small>
					<h3><i class="icon-user"></i> Kasper <span class="label">admin</span></h3>
					<p>This panel is so cool!</p>
				</div>
			
				<div class="item">
					<small class="pull-right">6 hours ago</small>
					<h3><i class="icon-user"></i> Janika <span class="label">admin</span></h3>
					<p>Look at this stuff I made!</p>
				</div>

				<div class="item">
					<small class="pull-right">8 hours ago</small>
					<h3><i class="icon-user"></i> Janika <span class="label">admin</span></h3>
					<p>I'll make this admin panel holy as swiss cheese.</p>
				</div>

			</div>

		</div>

		<div class="modal-footer">

			<a href="#newmessage" class="btn btn-primary" data-dismiss="modal" data-toggle="modal">New mesaage</a>
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>

		</div>

	</div>
	<!-- / Module: Messages -->
	 
	<!-- Module: New Messages -->
	<div id="newmessage" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel"><i class="icon-comment"></i> New Message</h3>
		</div>

		<div class="modal-body">
			<div class="control-group">
				<label class="control-label" for="inputName"> </label>
				<div class="controls">
					<input type="text" id="inputName" placeholder="Recipient">
				</div>
			</div>
			
			<!-- Textarea -->
			<div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">

				<div class="btn-group">
					<a class="btn dropdown-toggle" data-toggle="dropdown" title="Font"><i class="icon-font"></i><b class="caret"></b></a>
					<ul class="dropdown-menu">
					</ul>
				</div>

				<div class="btn-group">
					<a class="btn dropdown-toggle" data-toggle="dropdown" title="Font Size"><i class="icon-text-height"></i>&nbsp;<b class="caret"></b></a>
					<ul class="dropdown-menu">
					<li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>
					<li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
					<li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
					</ul>
				</div>

				<div class="btn-group">
					<a class="btn" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="icon-bold"></i></a>
					<a class="btn" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="icon-italic"></i></a>
					<a class="btn" data-edit="strikethrough" title="Strikethrough"><i class="icon-strikethrough"></i></a>
					<a class="btn" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="icon-underline"></i></a>
				</div>
				
				<div class="btn-group">
					<a class="btn" title="Insert picture (or just drag & drop)" id="pictureBtn"><i class="icon-picture"></i></a>
					<input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" />
				</div>

			</div>

			<div id="sendmessage"></div>
			<!-- /Textarea -->

		</div>
		<div class="modal-footer">

			<button class="btn btn-primary">Send Message</button>
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>

		</div>

	</div>
	<!-- / Module: New Messages -->

	<!-- Content Container -->
	<div class="container">

		<!-- Main Navigation: Box -->
		<div class="navbar navbar-inverse" id="nav">

			<!-- Main Navigation: Inner -->
			<div class="navbar-inner">

				<!-- Main Navigation: Nav -->
				<ul class="nav">

					<!-- Main Navigation: Dashboard -->
					<li class="active"><a href="/admin/"><i class="icon-align-justify"></i> Главная</a></li>
					<!-- / Main Navigation: Dashboard -->

					<!-- Main Navigation: General -->
					<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<i class="icon-gear"></i> Настройки <b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href="/admin/settings/site/"><i class="icon-th"></i> Настройки сайта</a></li>
								<li><a href="/admin/settings/security/"><i class="icon-shield"></i> Безопасность</a></li>
								<li><a href="/admin/settings/license/"><i class="icon-magic"></i> Лицензия</a></li>
							</ul>
					</li>
					<!-- / Main Navigation: General -->

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-archive" ></i> Страницы <b class="caret"></b></a>
						<ul class="dropdown-menu">
								<li><a href="/admin/pages/add/"><i class="icon-edit"></i> Создать страницу</a></li>
								<li><a href="/admin/pages/"><i class="icon-credit-card"></i> Список страниц</a></li>
							</ul>
						</li>
					<!-- Main Navigation: UI Elements -->
					<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-magic">
								</i> Компоненты <b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href="/admin/components/manager/"><i class="icon-th-large"></i> Все компоненты</a></li>
								<li class="dropdown-submenu">
									<a href="/admin/components/installed/"><i class="icon-th-large"></i> Установленные</a>
									<ul class="dropdown-menu">
										<li><a href="/admin/components/albums/">Альбомы</a></li>
									</ul>
								</li>
							</ul>
					</li>
					<!-- / Main Navigation: UI Elements -->
				</ul>
				<!-- / Main Navigation: Nav -->
			
				<!-- Main Navigation: Search -->
				<form class="navbar-search pull-right">
					<input type="text" class="search-query typeahead" placeholder="Search">
				</form>
				<!-- / Main Navigation: Search -->

			</div>
			<!-- / Main Navigation: Inner -->

		</div>
		<!-- / Main Navigation: Box -->

		<?php echo $this->Content?>

	</div> 
	<!-- / Content Container -->

	<!-- Footer -->
	<footer class="footer">

			<!-- Footer Container -->
      <div class="container">

				<!-- Footer Container: Content -->
        <p>Development and design by <a href="http://themeforest.net/user/LycheeDesigns">Kasper</a> and <a href="http://themeforest.net/user/LycheeDesigns">Janika</a>.</p>
        <p>Copyrighted <a href="http://themeforest.net/user/LycheeDesigns">Lychee Designs</a> 2013. All rights resserved.</p>

        <p><a href="http://fortawesome.github.io/Font-Awesome/">Fontawesome</a> licensed under <a href="http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&amp;id=OFL">SIL OFL </a>.</p>

        <ul>
          <li><a href="http://themeforest.net/user/LycheeDesigns">Buy Theme</a></li>
          <li class="muted">·</li>
          <li><a href="http://themeforest.net/user/LycheeDesigns">Lychee</a></li>
          <li class="muted">·</li>
          <li><a href="https://twitter.com/lycheedesigns">Twitter</a></li>
        </ul>
        <!-- / Footer Container: Content -->

      </div>
      <!-- / Footer Container -->

	</footer>
	<!-- / Footer -->

</body>

	<!-- Javascript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<?php
		echo $this->Helper->headScript()
			->appendFile($this->Template . '/assets/js/jquery.hotkeys.js')
			->appendFile($this->Template . '/assets/js/calendar/fullcalendar.min.js')
			->appendFile($this->Template . '/assets/js/jquery-ui-1.10.2.custom.min.js')
			->appendFile($this->Template . '/assets/js/jquery.pajinate.js')
			->appendFile($this->Template . '/assets/js/jquery.prism.min.js')
			->appendFile($this->Template . '/assets/js/jquery.dataTables.min.js')
			->appendFile($this->Template . '/assets/js/charts/jquery.flot.time.js')
			->appendFile($this->Template . '/assets/js/charts/jquery.flot.pie.js')
			->appendFile($this->Template . '/assets/js/charts/jquery.flot.resize.js')
			->appendFile($this->Template . '/assets/js/bootstrap/bootstrap.min.js')
			->appendFile($this->Template . '/assets/js/bootstrap/bootstrap-wysiwyg.js')
			->appendFile($this->Template . '/assets/js/bootstrap/bootstrap-typeahead.js')
			->appendFile($this->Template . '/assets/js/jquery.easing.min.js')
			->appendFile($this->Template . '/assets/js/jquery.chosen.min.js')
			->appendFile($this->Template . '/assets/js/avocado-custom.js');
	?>	
</html>