<ul class="pull-left">
	<li<?php echo ($this->thisLink('admin') ? 'class="active"' : '')?>><a href="/admin/"><i class="icon-home"></i> Административная панель</a> <span class="divider">/</span></li>
	<?php foreach($this->arResult as $Link => $Name) { ?>
			<?php if($Link == '/') continue; ?>
			<li<?php echo ($this->thisLink($Link) ? 'class="active"' : '')?>><a href="<?php echo $Link?>"><i class="icon-align-justify"></i><?php echo $Name?></a> <span class="divider">/</span></li>
	<?php } ?>
</ul>