<link rel="stylesheet" href="<?php echo $this->Template?>/style.css">
<!-- Top fixed navigation -->
<div class="topNav">
    <div class="wrapper">
        <div class="welcome"><a href="#" title=""><img src="<?php echo $this->Template?>/images/userPic.png" alt="" /></a><span><?php echo $this->login?></span></div>
        <div class="userNav">
            <ul>
                <?php foreach($this->arNav as $arNav){ ?>
                <li><a href="<?php echo $arNav['link']?>"><img src="<?php echo $this->Template?>/images/<?php echo $arNav['icon']?>.png" alt="" /><span><?php echo $arNav['name']?></span></a></li>
                <?php } ?>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>    
<!-- Wrapper / Start -->