<link rel="stylesheet" type="text/css" href="<?php echo $this->Template?>photobox/photobox.css" />
<link rel="stylesheet" type="text/css" href="<?php echo $this->Template?>css/style.css" />
<script src="<?php echo $this->Template?>photobox/photobox.js"></script>
<script>
	$(document).ready(function(){
		$('#gallery').photobox('a', { thumbs:true });
		setTimeout(window._photobox.history.load, 1000);
	});
</script>
<section class="main">
	<div class="wrapper">
		<div class="topbar" style="margin-top: -50px; height: 85px; width: 100%">
			<div style="float:left;"><h2>Альбом: <?php echo $this->arAlbums['title']?></h2></div>
			<div style="float:right; padding-top: 10px;"><a href="<?php echo str_replace(array('?album_id='.$this->arAlbums['id'], 'album-' . $this->arAlbums['id'] .'/'), '', $_SERVER['REQUEST_URI'])?>"><h4>← Вернутся</h4></a></div>
		</div>
		<ul id="gallery">
		<?php if($this->arImages == '') { ?>
				<p>Фотографии отсутвуют</p>
		<?php } else foreach($this->arImages as $Key => $arImage) { 
			if(empty($arImage['full_link'])) continue;
		?>
			<li class="loaded">
				<a href="<?php echo $this->Core->Url?>/upload/albums/<?php echo $arImage['full_link']?>">
					<img width="100" src="<?php echo $arImage['thumbs_link']?>" title="<?php echo $arImage['name']?>">
				</a>
			</li>
		<?php } ?>
       	</ul>
       	<?php 
       		echo $this->LoadComponent('Engine:pages', array(
       					'count_elements' => $this->arAlbums['count_elements'], 
       					'limit' => $this->arAlbums['limit_page'], 
       				)
       			); 
       	?>
	</div>
</section>