<link rel="stylesheet" type="text/css" href="<?php echo $this->Template?>css/style.css" />
<section class="main">
				
	<div class="wrapper">
		<div class="topbar" style="margin-top: -50px; height: 85px">
			<div style="float:left;"><h2><?php echo $this->Registry->Template->pageTitle?></h2></div>
		</div>
		<ul class="portfolio-area">
		<?php if(count($this->arAlbums) <= 0) { ?>
				<p>Фотографии отсутвуют</p>
		<?php } else foreach($this->arAlbums as $Key => $arAlbum) { 
			if($arAlbum['logo'] == '0' OR empty($arAlbum['logo']))
				$arAlbum['logo'] = $this->Template .'images/no-albums.png';
		?>
			<li>	
			        <div>
                   		<span class="image-block" style="margin:0; padding: 0;">
							<a class="image-zoom" href="/photo/album-<?php echo $arAlbum['id']?>" title="<?php echo $arAlbum['title']?>"><img width="225" height="140" src="<?php echo $arAlbum['logo']?>" alt="Wall-E" title="<?php echo $arAlbum['title']?>" /></a>
                    	</span>
                   		<div class="home-portfolio-text" style="margin-top: -20px; margin-left: 5px;">
							<h2 class="post-title-portfolio"><a href="/photo/album-<?php echo $arAlbum['id']?>" rel="bookmark" title="<?php echo $arAlbum['title']?>"><?php echo $arAlbum['title']?></a></h2>
                   	 		<p class="post-subtitle-portfolio" style="margin-top: -20px;">Добавлено: <?php echo $arAlbum['create_date']?></p>
						</div>
                    
					</div>	
            </li>
		<?php } ?>

       	</ul>
	</div>
</section>