<!-- start: LOGIN BOX -->
<script>
	$(document).ready(function(){
		var connect = 0;
		$('#loginForm').on('submit', function(){
			if(connect != 0) return false;
			
			if($('input[name=user_password]').val().length <= 0){
				toastr.warning("Введите пароль");
				return false;
			}

			connect = 1;
			$.ajax({
        		type: 'POST',
        		url: '/index.php',
        		data: $(this).serialize(),
        		dataType: 'json',
        		success: function(data){
        			if(data.Error == 'true'){
        				toastr.error(data.message, "Ошибка авторизации");
        				$('.csrf_detected_input').remove();
        				$('#loginForm').append(data.csfr_detect);
        				connect = 0;
        				return false;
        			}
        			toastr.success("Вы успешно авторизовались, подождите идет переадресация", "Успешная авторизация");
        			document.location.href = '/admin/';
        		}
      		});

        	return false;
		});
	});
</script>
<form method="post" role="form" id="loginForm">
<?php echo Rdl\Security\Security::getInstance()->getPostString();?>		
	<div class="form-group lockscreen-input">
		<div class="lockscreen-thumb">
			<?php $obFile = new Rdl\Components\File();?>
			<img src="<?php echo $obFile->ResizeImage('/upload/no_avatar.jpg', '100x100');?>" class="img-circle" />
		</div>
		<div class="lockscreen-details">
			<h4><?php echo $this->Registry->SessionStorage->User['user_login']?></h4>
			<span data-login-text="Заблокировано...">Заблокировано...</span>
		</div>	
	</div>
	<div class="form-group">
		<div class="input-group">
			<div class="input-group-addon">
				<i class="entypo-key"></i>
			</div>	
			<input type="password" class="form-control" name="user_password" id="password" placeholder="Пароль" autocomplete="off" />
		</div>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary btn-block btn-login">
			Разблокировать
			<i class="entypo-login"></i>
		</button>
	</div>
</form>
<div class="login-bottom-links">	
	<a href="?logout=Y" class="link">Выход <i class="entypo-right-open"></i></a>
	<br />
	Powered by <a href="http://rdl-team.ru" target="_blank">RDL CMS</a>
</div>