<script type="text/javascript" src="<?php echo $this->Template?>order.js"></script>
<div class="panel panel-primary">
	<div class="panel-heading">
		<div class="panel-title">Заказ № <?php echo Rdl\Components\Catalog\Basket::CheckNumber($this->arData['order_id'])?></div>
		
		<div class="panel-options hidden-print" style="padding-top: 10px;">
			<div class="loading_progress" style="display: none; float:left;"></div>
			<button type="button" data-status="2" data-order="<?php echo $this->arData['order_id']?>" class="change_status btn btn-xs btn-success">
				<i class="glyphicon glyphicon-chevron-down"></i>
				<span>Доставлен</span>
			</button>
			<button type="button" data-status="1" data-order="<?php echo $this->arData['order_id']?>" class="change_status btn btn-xs btn-primary">
				<i class="glyphicon glyphicon-upload"></i>
				<span>Подтвердить</span>
			</button>
			<button type="button" data-status="0" data-order="<?php echo $this->arData['order_id']?>" class="change_status btn btn-xs btn-warning">
				<i class="glyphicon glyphicon-pause"></i>
				<span>Не обработан</span>
			</button>
			<button type="button" data-status="5" data-order="<?php echo $this->arData['order_id']?>" class="change_status btn btn-xs btn-danger">
				<i class="glyphicon glyphicon-ban-circle"></i>
				<span>Отменить</span>
			</button>
			<!-- <a href="#sample-modal" data-toggle="modal" data-target="#sample-modal-dialog-1" class="bg"><i class="entypo-cog"></i></a>
			<a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
			<a href="#" data-rel="reload"><i class="entypo-arrows-ccw"></i></a>
			<a href="#" data-rel="close"><i class="entypo-cancel"></i></a> -->
		</div>
	</div>
		
	<table class="table table-bordered table-responsive">
		<thead>
			<tr>
				<th width="50">Изображение</th>
				<th>Название</th>
				<th>Артикул</th>
				<th>Описание</th>
				<th align="center">Количество</th>
				<th>Цена</th>
			</tr>
		</thead>
		<tbody>
		<?php 
			$allprice = 0; 
			$arDelivery = array(1 => 'Курьером', 2 => 'Самовывоз');
			foreach($this->arData['order'] as $key => $arOrder) { 
			if(!isset($this->arData['items'][$arOrder['item_id']])) continue;
			$allprice += $price = $arOrder['cost'] * $arOrder['count'];

		?>
			<tr>
				<td align="center"><img src="<?php echo $this->arData['items'][$arOrder['item_id']]['detail_image']['thumbs_url']?>" /></td>
				<td><?php echo $this->arData['items'][$arOrder['item_id']]['name']?></td>
				<td><?php echo $this->arData['items'][$arOrder['item_id']]['article']?></td>
				<td>
					<?php 
						$obxFields = new Rdl\Components\Catalog\xFields();
						$obxFields->RunCacheFields();
						$data = Zend\Json\Json::decode($arOrder['xfields'], true);
						if(count($data) > 0) foreach($data as $Field => $Value) {
							echo '<strong>'. $obxFields->getFieldName($Field) .'</strong> : '. $Value;
						}
					?>
				</td>
				<td><?php echo $arOrder['count']?></td>
				<td><?php echo number_format($price)?> руб.</td>
			</tr>
		<?php } ?>
		<tr>
			<td colspan="6"></td>
		</tr>
		<tr>
			<td colspan="5" align="right"><strong>Сумма заказа:</strong></td>
			<td><?php echo number_format($allprice)?> руб.</td>
		</tr>
		<tr class="hidden-print">
			<td colspan="5" align="right"><strong>Статус заказа:</strong></td>
			<td class="status_order"><?php echo $this->arStatus[$this->arData['order'][0]['status']]?></td>
		</tr>
		<tr>
			<td colspan="5" align="right"><strong>Способ доставки:</strong></td>
			<td>
				<?php echo $arDelivery[$this->arData['order'][0]['deliveryType']]?> 
				<br />(Дата: <?php echo DateTime::createFromFormat( 'Y-m-d', $this->arData['order'][0]['deliveryDate'])->format('d-m-Y')?>)</td>
		</tr>
		<tr>
			<td colspan="6"><strong>Информация о клиенте</strong></td>
		</tr>
		<tr>
			<td colspan="2"><strong>ФИО:</strong></td>
			<td colspan="4" aling="left"><?php echo $this->arData['order'][0]['fullname']?></td>
		</tr>
		<tr>
			<td colspan="2"><strong>Адрес:</strong></td>
			<td colspan="4" aling="left"><?php echo $this->arData['order'][0]['city']?>, <?php echo $this->arData['order'][0]['street']?></td>
		</tr>
		<tr>
			<td colspan="2"><strong>Телефон:</strong></td>
			<td colspan="4" aling="left"><?php echo $this->arData['order'][0]['phone']?></td>
		</tr>
		<tr>
			<td colspan="2"><strong>Email:</strong></td>
			<td colspan="4" aling="left"><?php echo $this->arData['order'][0]['email']?></td>
		</tr>
		<tr>
			<td colspan="2"><strong>Коментарий к заказу:</strong></td>
			<td colspan="4" aling="left"><?php echo $this->arData['order'][0]['comment']?></td>
		</tr>	
		</tbody>
	</table>
</div>
<a href="javascript:window.print();" class="btn btn-primary btn-icon icon-left hidden-print">
	Распечатать
	<i class="entypo-doc-text"></i>
</a>
<a href="/admin/catalog/orders/?order_id=<?php echo $this->arData['order_id']?>&amp;edit=true" class="btn btn-success btn-icon icon-left hidden-print">
	Редактировать
	<i class="entypo-pencil"></i>
</a>