<!DOCTYPE html>
<html lang="en">
<head>
	<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
	<?php echo $this->Title?>
	<?php echo $this->Header?>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" href="<?php echo $this->Template?>/assets/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css"  id="style-resource-1">
	<link rel="stylesheet" href="<?php echo $this->Template?>/assets/css/font-icons/entypo/css/entypo.css"  id="style-resource-2">
	<link rel="stylesheet" href="<?php echo $this->Template?>/assets/css/font-icons/entypo/css/animation.css"  id="style-resource-3">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic"  id="style-resource-4">
	<link rel="stylesheet" href="<?php echo $this->Template?>/assets/css/neon.css"  id="style-resource-5">
	<link rel="stylesheet" href="<?php echo $this->Template?>/assets/css/custom.css"  id="style-resource-6">

	<script src="<?php echo $this->Template?>/assets/js/jquery-1.10.2.min.js"></script>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
</head>
<body class="page-body login-page login-form-fall">
<div class="login-container">
	<div class="login-header login-caret">
		<div class="login-content">
			<a href="#" class="logo">
				<img src="../../../neon-x/assets/images/logo.png" alt="" />
			</a>
			<p class="description">Для входа в административную панель, введите ваши Логин и Пароль!</p>
		</div>
	</div>
	<div class="login-form">		
		<div class="login-content">
			<?php echo $this->LoadComponent('Engine:auth', array('Template' => 'admin')); ?>
		</div>
	</div>
</div>
	<script src="<?php echo $this->Template?>/assets/js/gsap/main-gsap.js" id="script-resource-1"></script>
	<script src="<?php echo $this->Template?>/assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js" id="script-resource-2"></script>
	<script src="<?php echo $this->Template?>/assets/js/bootstrap.min.js" id="script-resource-3"></script>
	<script src="<?php echo $this->Template?>/assets/js/joinable.js" id="script-resource-4"></script>
	<script src="<?php echo $this->Template?>/assets/js/resizeable.js" id="script-resource-5"></script>
	<script src="<?php echo $this->Template?>/assets/js/neon-api.js" id="script-resource-6"></script>
	<script src="<?php echo $this->Template?>/assets/js/jquery.validate.min.js" id="script-resource-7"></script>
	<script src="<?php echo $this->Template?>/assets/js/toastr.js" id="script-resource-7"></script>
	<script src="<?php echo $this->Template?>/assets/js/neon-login.js" id="script-resource-8"></script>
	<script src="<?php echo $this->Template?>/assets/js/neon-custom.js" id="script-resource-9"></script>
	<script src="<?php echo $this->Template?>/assets/js/neon-demo.js" id="script-resource-10"></script>	
</body>
</html>