<html>
<head>
<?php echo $this->Title?>
<?php echo $this->Header?>
<style>
html {
  height: 100%;
	font:62.5%/1 "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	background: #f0f0f0;
  background-size: 75px;
  }

body {
	margin: 0;
	width: 100%;
	height: 100%;
    text-align: center;
    
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;        
	-webkit-box-orient: vertical;
	        flex-direction: column;
	}

#container {
  user-select: none;
  border-radius: 50px;
  padding: 0 20px;
  margin: 0 40px;
  background-color: hsla(0,0%,0%,.02);
  box-shadow: inset 0 1px 4px hsla(0,0%,0%,.1), 0 1px 2px hsla(0,0%,100%,.3);
  font-size: 12rem;
  }

#help {
  color: #aaa;
  margin-top: 20px;
  font-size: 1.1rem;
  }

#help strong {
  color: #777;
  }
</style>
</head>
<body>
<div id="container" align="center">404</div>
<p id="help"><strong>404</strong> - Page not found</p>
</body>
</html>