<div class="login-container" id="login-container">
	<div class="login-header">
		<div class="login-content">
			<a href="#" class="logo">
				<img src="<?php echo $this->Template?>/assets/images/logo.png" alt="" width="100" />
			</a>
			<p class="description">Уважаемый <?php echo $this->Registry->SessionStorage->User['user_login']?>, введите пароль для разблокировки...</p>
		</div>
		
	</div>
	
	<div class="login-form">
		
		<div class="login-content">
			<?php echo $this->LoadComponent('Engine:auth', array('Template' => 'locked')); ?>
		</div>
		
	</div>
	
</div>


	<script src="<?php echo $this->Template?>/assets/js/gsap/main-gsap.js" id="script-resource-1"></script>
	<script src="<?php echo $this->Template?>/assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js" id="script-resource-2"></script>
	<script src="<?php echo $this->Template?>/assets/js/bootstrap.min.js" id="script-resource-3"></script>
	<script src="<?php echo $this->Template?>/assets/js/joinable.js" id="script-resource-4"></script>
	<script src="<?php echo $this->Template?>/assets/js/resizeable.js" id="script-resource-5"></script>
	<script src="<?php echo $this->Template?>/assets/js/neon-api.js" id="script-resource-6"></script>
	<script src="<?php echo $this->Template?>/assets/js/jquery.validate.min.js" id="script-resource-7"></script>
	<script src="<?php echo $this->Template?>/assets/js/toastr.js" id="script-resource-7"></script>
	<script src="<?php echo $this->Template?>/assets/js/neon-login.js" id="script-resource-8"></script>
	<script src="<?php echo $this->Template?>/assets/js/neon-custom.js" id="script-resource-9"></script>
	<script src="<?php echo $this->Template?>/assets/js/neon-demo.js" id="script-resource-10"></script>