<p class="titleList">Всего найдено - <?php echo (int) $this->Count?> человек(а)</p>
<ul>
    <?php foreach($this->arData as $key => $arList) { ?>
        <li class="link" id="userID-<?php echo $key?>" data-id="<?php echo $key?>"><span class="<?php echo $this->Area[$arList['area']]['class'];?>" title="<?php echo $this->Area[$arList['area']]['name'];?>"></span><a href="javascript:void(0);" data-id="<?php echo $key?>"><?php echo $arList['lastname']?> <?php echo $arList['fullname']?> <?php echo $arList['otvname']?> - <?php echo $arList['dateByrsday']?></a><span class="patLeftBlock"<?php echo ($arList['pat'] == 0 && $arList['archive'] != 1? 'style="background: yellow;"' : '')?><?php echo ($arList['archive'] == 1 ? 'style="background: gray;"':'')?>></span></li>
    <?php } ?>
</ul>
