<script type="text/javascript" src="http://127.0.0.2/engine/templates/danilovsk/js/jquery.min.js"></script>
<script type="text/javascript" src="http://127.0.0.2/engine/templates/danilovsk/js/jqueryui/js/jquery-ui-1.10.3.custom.js"></script>
<link href="http://127.0.0.2/engine/templates/danilovsk/js/jqueryui/css/ui-lightness/jquery-ui-1.10.3.custom.css" media="screen" rel="stylesheet" type="text/css">
<script>
$(document).ready(function(){
$.fn.val = $.fn.html;
  var availableTags = ["Hallway","Kitchen","Bathroom","Lounge"];
  $("#tags").autocomplete({
      source: availableTags
  });
});
</script>
<div id="tags" contenteditable="true">Test</div>