<div class="row-fluid">
	<div class="span12">
        <div class="top-bar">
           <h3>Список страниц</h3>
        </div>
        <div class="well no-padding">  
            <table class="data-table">
		        <thead>
		          <tr>
		            <th>Название</th>
		            <th>Дата изменения</th>
		            <th>Количество фото:</th>
		            <th width="18%">Действия</th>
		          </tr>
		        </thead>
		        <tbody>
		        <?php foreach($this->arAlbums as $keyHash => $arAlbum) { ?>
		          <tr id="page-<?php echo $arAlbum['id']?>">
		            <td><?php echo $arAlbum['title']?></td>
		            <td></td>
		            <td><?php echo $arAlbum['count']?></td>
		            <td>
		            	<a href="/admin/pages/edit/?id=<?php echo $arAlbum['id']?>" class="btn btn-info"><i class="icon-pencil"></i> Редактировать</a>
		            	<a onclick="return confirm('Вы действительно хотите удалить страницу?');" href="/admin/pages/delete/?id=<?php echo $arAlbum['id']?>" class="btn btn-danger"><i class="icon-remove"></i> Удалить</a>
		            </td>
		          </tr>
		        <?php } ?>
		        </tbody>
		    </table>
        </div>
    </div>
</div>