<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<?php echo $this->Title?>
<?php echo $this->Header?>
<link rel="stylesheet" type="text/css" href="<?php echo $this->Template?>/css/styles.css" />
<link rel="stylesheet" type="text/css" href="<?php echo $this->Template?>/css/fancybox.css" />
<script type="text/javascript" src="<?php echo $this->Template?>/js/jspack.js"></script>
<script type="text/javascript" src="<?php echo $this->Template?>/js/scripts.js?up=5"></script>
</head>
<body>
<div id="wrapperOut">
<div id="whitePage">
<div id="header">
<a href="/"><img src="<?php echo $this->Template?>/images/logo.png" class="logo" alt="" /></a>
<div class="phones" style="right:0px;">

 +7 (495) 669-88-60<br>
  <span>с 9-00 до 22-00. Без выходных</span>

</div>
<?php echo $this->LoadComponent('Engine:menu', array('menu' => 'top')); ?>
<?php echo $this->LoadComponent('Engine:Catalogmenu', array('Template' => 'top')); ?>

<form class="seacher" action="/search/"  method="get">
<input type="text" name="query" value="">
<input type="hidden" name="idsec" value="6">
</form>
</div>
</div>
<div class="mainSlider">
<div class="scrollable">   
<div class="items">
<div class="slide">
	<img src="http://detaltorg.ru/files/detaltorgru/reg_images/slide_01_0002.jpg" width="640" height="350" alt="1"/>
</div>
<div class="slide">
	<img src="http://detaltorg.ru/files/detaltorgru/reg_images/slide_02_0001.jpg" width="640" height="350" alt="2"/>
</div>
<div class="slide">
	<img src="http://detaltorg.ru/files/detaltorgru/reg_images/slide_03_0001.jpg" width="640" height="350" alt="3"/>
</div>
<div class="slide">
	<img src="http://detaltorg.ru/files/detaltorgru/reg_images/slide_04_0001.jpg" width="640" height="350" alt="4"/>
</div>
</div>
</div>
<div class="navi">
</div>
<a class="prev browse left"></a>    
<a class="next browse right"></a>    
<div class="conerLeft"></div>
<div class="conerRight"></div>    
</div>


<div class="sliderTextBlock news">
	<div class="title">
		<a href="/news/">НОВОСТИ И АКЦИИ</a>
		<i class="prev"></i>
		<i class="next"></i>
	</div>
	<div class="content">
		<ul>
			<li><center><strong>- Новостей нет -</strong></center></li>
		</ul>
	</div>
</div>
<div class="clear"></div>
<a href="/about.html"><div class="mainBanner1"></div></a>
<a href="/about.html"><div class="mainBanner2"></div></a>
<a href="#"><div class="mainBanner3"></div></a>
<div class="clear"></div>
<div class="aboutBlock">
<?php echo $this->Content?>
</div>

<div class="sliderTextBlock blog">
	<div class="title"><a href="/blog/">БЛОГ</a></div>
		<div class="content">
		<ul>
			<li><center><strong>- Записи отсутвуют - </strong></center></li>
		</ul>
	</div>
</div>



<div style="text-align:center;">
	<A HREF="http://www.kitco.com/connecting.html"><IMG style="padding-left:25px;" SRC="http://www.kitconet.com/images/quote.gif" BORDER="0" ALT="[Most Recent Quotes from www.kitco.com]"></A>
</div>
<div class="clear"></div>
</div>
<div class="clear"></div>
<div id="empty"></div>


<div id="footer">
	<div class="footer"></div>
	<div class="bottomMenu">
  		<a href="/about.html">О компании</a> | <a href="/info.html">Информация</a> | <a href="/contacts/">Контакты</a>
	</div>
	<div class="copy">
		&copy; 2011 — SMOLTORG<br />
		Купим радиодетали, лом электроники, катализаторы
	</div>
	<div class="counter">

	</div>
</div>
</div>
</div>
</body>
</html>