<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<?php echo $this->Title?>
<?php echo $this->Header?>
<link rel="stylesheet" type="text/css" href="<?php echo $this->Template?>/css/styles.css" />
<link rel="stylesheet" type="text/css" href="<?php echo $this->Template?>/css/fancybox.css" />
<script type="text/javascript" src="<?php echo $this->Template?>/js/jspack.js"></script>
<script type="text/javascript" src="<?php echo $this->Template?>/js/scripts.js?up=5"></script>
</head>
<body>
<div id="wrapperOut">
<div id="whitePage">
<div id="header">
<a href="/"><img src="<?php echo $this->Template?>/images/logo.png" class="logo" alt="" /></a>
<div class="phones" style="right:0px;">

 +7 (495) 669-88-60<br>
  <span>с 9-00 до 22-00. Без выходных</span>

</div>

<?php echo $this->LoadComponent('Engine:menu', array('menu' => 'top')); ?>
<?php echo $this->LoadComponent('Engine:Catalogmenu', array('Template' => 'top')); ?>

<form class="seacher" action="/search/"  method="get">
<input type="text" name="query" value="">
<input type="hidden" name="idsec" value="6">
</form>
</div>
</div>
<?php echo $this->LoadComponent('Engine:speedbar') ?>

<div class="infopage">

<div class="content">
<div class="fullPost">
<?php echo $this->Content?>
</div>
</div>

<div class="clear"></div>
</div>

<div class="clear"></div>
</div>
<div class="clear"></div>
<div id="empty"></div>
</div>


<div id="footer">

<div class="footer"><div>
<div class="bottomMenu">
  <a href="/about.html">О компании</a> | <a href="/info.html">Информация</a> | <a href="/contacts/">Контакты</a>
</div>
<div class="copy">
&copy; 2014 — SMOLTORG<br />
Купим радиодетали, лом электроники, катализаторы
</div>
<div class="counter">
  
</div>
</div></div>
</div>
</body>
</html>