<div class="crumbs">
	<a href="<?php echo $this->Core->Url?>">Главная</a> &gt;
	<?php $i = 0; if(count($this->Registry->SpeedBar) > 0) foreach($this->Registry->SpeedBar as $url => $Data) { $i++;?>
  		<?php if($i != count($this->Registry->SpeedBar)) { ?><a href="<?php echo $url?>"><?php } ?><?php echo is_array($Data) ? $Data['title'] : $Data?><?php if($i != count($this->Registry->SpeedBar)) { ?></a>  &gt; <?php } ?>
  	<?php } ?>
</div>