<div class="row hidden-print">
	<!-- Profile Info and Notifications -->
	<div class="col-md-6 col-sm-8 clearfix">
		<ul class="user-info pull-left pull-none-xsm">
			<!-- Profile Info -->
			<li class="profile-info dropdown"><!-- add class "pull-right" if you want to place this from right -->
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<?php if(empty($this->Registry->Auth->avatar)) { $obFile = new Rdl\Components\File();?>
						<img src="<?php echo $obFile->ResizeImage('/upload/no_avatar.jpg', '44x44');?>" alt="" class="img-circle" />
					<?php } else { ?>
						<img src="<?php echo $this->Template?>/assets/images/thumb-1.png" alt="" class="img-circle" />
					<?php } ?>
					<?php echo $this->Registry->Auth->login?>
				</a>
				<ul class="dropdown-menu">
					<!-- Reverse Caret -->
					<li class="caret"></li>
					<!-- Profile sub-links -->
					<li>
						<a href="#">
							<i class="entypo-user"></i>
							Редактировать профиль
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<!-- Raw Links -->
	<div class="col-md-6 col-sm-4 clearfix hidden-xs">
		<ul class="list-inline links-list pull-right">
			<li>
				<a href="<?php echo $this->Core->Url?>" target="_blank">Перейти на сайт</a>
			</li>
			<li class="sep"></li>
			<li>
				<a href="<?php echo $this->Core->Url?>/<?php echo $this->Core->Config->admin?>/?lock=Y">Заблокировать</a>
			</li>
			<li class="sep"></li>	
			<li>
				<a href="<?php echo $this->Core->Url?>/<?php echo $this->Core->Config->admin?>/?logout=Y">
					Выход <i class="entypo-logout right"></i>
				</a>
			</li>
		</ul>
	</div>
</div>