<div class="navPanel">
<ul>
	<?php if(isset($this->arCatalog['category']) && count($this->arCatalog['category']) > 0) foreach($this->arCatalog['category'] as $key => $arCategory) { ?>
		<?php if($arCategory['parent_category'] == 0) { ?>
      		<li><a href="/catalog<?php echo str_replace('catalog/', '', $arCategory['link'])?>" alt="<?php echo $arCategory['name']?>"><?php echo $arCategory['name'] ?></a>
      		<?php if(isset($arCategory['children'])){ ?>
      			<div class="sub" style="display: none;">
					<div class="table">
						<div class="tr">
							<div class="td">
								<ul>
								<?php foreach($arCategory['children'] as $childKey => $childValue){?>
      								<li><a href="/catalog<?php echo str_replace('catalog/', '', $childValue['link'])?>" alt="<?php echo $childValue['name']?>"><strong><?php echo $childValue['name'] ?></strong></a></li>
      							<?php } ?>
								</ul>
							</div>
						</div>
					</div>
				</div>
			<?php } ?>
      		</li>
		<?php } ?>
	<?php } ?>
</ul>