<!-- 960 Container -->
<div class="container">
	<section class="page-content">
		<section class="about-author">
			<header class="meta">
					<h2><?php echo $this->arWork['title']?></h2>
					<span><i class="halflings user"></i>Создано <?php echo $this->arWork['user_name']?></span>
				</header>

			<img src="http://www.gravatar.com/avatar/98287fc0f05ebed1c2aae6bc2d236d3a?s=60&amp;d=identicon" />
			<div class="about-description">
				<p><?php echo $this->arWork['text']?></p>
			</div>
			<div style="clear:both;"></div>
		</section>
		<div class="line"></div>
		<section class="comments-sec">
			<h3>Ответы <span class="comments-amount">(<?php echo count($this->arWorkComments)?>)</span></h3>
				<ol class="commentlist">
					<?php if(count($this->arWorkComments) > 0) foreach($this->arWorkComments as $ID => $arComment) { ?>
					<li>
						<div class="comment">
							<div class="avatar"><img src="http://www.gravatar.com/avatar/98287fc0f05ebed1c2aae6bc2d236d3a?s=60&amp;d=identicon" alt=""> </div>
							<div class="comment-des"><div class="arrow-comment"></div>
								<div class="comment-by"><strong><?php echo $arComment['user']?></strong>
									<span class="reply"<?php echo ($arComment['type'] != 'hide' ? ' style="display:none;"' : '') ?>><span style="color:#ccc">/ </span><a href="javascript:void(0);">Скрытое</a></span>
									<span class="date"><?php echo date('d M Y H:i', $arComment['date'])?></span></div>
								<p><?php echo $arComment['text']?></p>
							</div>
							<div class="clearfix"></div>
						</div>
					</li>
					<?php } ?>
				 </ol>
		</section>
		<div class="clearfix"></div>
		<div class="line"></div>
		<section class="comments-sec">
			<h3>Написать ответ</h3>
			<br>
			<section id="replay">

				<!-- Message -->
				<mark id="message" style="display: none;"></mark>

				<!-- Contact Form -->
				<form id="replayform">
					<input type="hidden" name="work_id" value="<?php echo $this->arWork['id']?>" />
					<fieldset>

						<div>
							<label><strong>Пользователь:</strong> <?php echo $this->Login?></label>
						</div>
						<?php if($this->Registry->Auth->GetParam('add_hide')) { ?>
						<div>
							<label>Ответ скрыть (автора не уведомлять): <input type="checkbox" name="hide_message" value="Y" checked/></label>
						</div>
						<?php } ?>
						<div>
							<label>Ответ: <span>*</span></label>
							<textarea cols="132" rows="8" name="message"></textarea><mark class="validate"></mark>
						</div>
						<?php if($this->Registry->Auth->GetParam('add_hide')) { ?>
						<div style="margin-top: 10px;">
							<span style="float:left;">Ответсвенный:  </span>
							<select style="float:left; margin-left: 5px; width: 300px" name="replay_user">
								<option value="0"></option>
								<?php if(count($this->Users) > 0) foreach($this->Users as $id => $value) { ?>
									<option value="<?php echo $id?>"><?php echo $value?></option>
								<?php } ?>
 							</select>
 						</div>
 						<?php } ?>
					</fieldset>

					<input type="submit" class="submit" value="Отправить">
					<div class="clearfix"></div>

				</form>

			</section>

		</section>
	</section>
</div>