<!-- 960 Container -->
<div class="container">
	<section class="page-content">
		<h3><i class="icon-pushpin"></i> - <?php echo (empty($this->Task['fix']) ? 'Не установлена' : $this->Task['fix'])?></h3>
		<hr />
		<div class="sixteen columns">
			<!-- Headline -->
			<h3 class="margin-reset">Список заданий</h3><br />

			<table class="standard-table">

				<tr>
					<th>Проект</th>
					<th>№ / Название</th>
					<th><center>Часы <br />Потр. / Зап.</center></th>
					<th>Фактически</th>
				</tr>
				<?php foreach($this->WorkTask['element'] as $ID => $arWork) { ?>
				<tr>
					<td width="50"><center><?php echo $arWork['low_title']?></center></td>
					<td><strong><?php echo $arWork['work_id']?></strong> / <a href="/task/techWork<?php echo $arWork['id']?>.html"><?php echo $arWork['title']?></a></td>
					<td width="80"><center><?php echo $arWork['num_hour']?> / <?php echo $arWork['plan_hour']?></center></td>
					<td width="20"><center><input type="text" name="hour[<?php echo $ID?>]" style="width:15px;height: 10px;"/></center></td>
				</tr>
				<?php } ?>
				<tr>
					<td colspan="4" align="right"><a href="#" class="button gray">Изменить</a></td>
				</tr>
			</table>
	</section>
</div>