<div class="categories">
	<ul>
	    <?php if(isset($this->arCatalog['category']) && count($this->arCatalog['category']) > 0) foreach($this->arCatalog['category'] as $key => $arCategory) { ?>
	      <?php if($arCategory['parent_category'] == 0) { ?>
	      	<li><a href="<?php echo $arCategory['link']?>" alt="<?php echo $arCategory['name']?>"><?php echo $arCategory['name'] ?></a>
	      		<?php if(isset($arCategory['children'])){ ?>
	      		<ul style="display: <?php echo ($this->Registry->Route->Params['parent_category'] == $arCategory['altname']? 'block' : 'none')?>">
	      			<?php foreach($arCategory['children'] as $childKey => $childValue){?>
	      				<li><a href="<?php echo $childValue['link']?>" alt="<?php echo $childValue['name']?>">– <?php echo $childValue['name'] ?></a></li>
	      			<?php } ?>
	      		</ul>
	      		<?php } ?>
	      	</li>
	      <?php } ?>
	    <?php } ?>
	</ul>
</div>
