<div class="paddingText">
					<legend>Оформления заказа (шаг 3 из 3)</legend>	
					<br><p class="t1 text-success text-center">Спасибо <?php echo $this->Payer?>, заказ прошел успешно!</p><br>
					<p class="t1 text-center">#<?php echo $this->Number?></p><br>
					<span class="orderBlockquote">
						<blockquote>
							<p>- Детали заказа и дополнительную информацию отправили на <b><u><?php echo $this->Email?></u></b></p>
							<p>- Курьер приедет к Вам <u><b><?php echo $this->deliveryDate?> во второй половине дня.</b></u></p>
							<p>- Наши менеджеры сейчас с Вами свяжутся.</p>
							<p>- Адрес доставки: <b><?php echo $this->City?>, <?php echo $this->Adress?><?php echo (mb_strlen($this->Mobile) > 0 ? ', тел. - '. $this->Mobile : '')?></b></p>
			     	    </blockquote>
			        </span>
					<br>
					<p><span class="glyphicon glyphicon-print"></span> <a href="#" class="dashed"> Распечатать заказ</a></p>
					<table class="table table-condensed">
						<thead>
					  <tr class="active">
					    <td>№</td>
					    <td>Описание</td>
					    <td>Кол-во</td>
					    <td>Цена</td>
					    <td>Сумма</td>
					  </tr>
					  </thead>
					  <tbody>
					  	<?php $i=1; foreach($this->arItems as $Key => $arItem){ 
	  						$item = explode('_', $Key, 2); 
	  						$arItem = array_merge($arItem, $this->arItemsData[$item[1]]); 
	  						if($arItem['count'] <= 0){
	  							$this->Registry->SessionStorage->basket['items'][$Key]['count'] = 1;
	  							$arItem['count'] = 1;
	  						}
	  					?>
					  <tr>
					    <td><?php echo $i?></td>
					    
					    <td class="cartDescription">
					    	 <p><b><?php echo $arItem['name']?></b><br>
					    	 <span class="description">Артикул: <?php echo $arItem['product_id']?></span><br>
					    	 размер: <b><?php echo ($item[0] != 0 ? $item[0] : '-')?></b></p>
					    </td>

					    <td><?php echo $arItem['count']?></td>
					    <td><?php echo number_format($arItem['price']);?></td>
					    <td><?php echo number_format(($arItem['price'] * $arItem['count']));?></td>
					  </tr>
					  <?php $i++; } ?>
					</tbody></table>
					
					<h4><p class="text-right">Общая сумма заказа:  <b><?php echo number_format($this->Registry->SessionStorage->basket['Money'] + 250)?> р.</b></p></h4>
					<p class="text-right">Доставка: <b>курьером</b></p>
					<p class="text-right">Оплата:  <b>наличными курьеру</b></p><br><hr>
					<p class="description">Внимание, если возникли какие-то проблемы c заказом, звоните по телефону 8 495 100 20 30<br>
						юридический адрес: 115120, г. Москва, ул. Петра Первого, д. 18<br>
						электронная почта - info@wow-buy.ru<br>
						лицензия министрества финансов - №77 00 433434234334 от 21.06.2011 г.

					</p>
				</div>