<div class="paddingText">
					<legend>Оформления заказа (шаг 1 из 3)</legend>
					<p class="description"><a href="/basket/">← Вернуться обратно в корзину</a></p>
					<div class="row">
						<p></p>
						  <div class="col-md-6 text-center shadow-right">
<p class="t1">Заходите, не стесняйтесь:</p><br>
<?php echo $this->LoadComponent('Engine:auth', array('template' => 'verify')); ?>
						  </div> <!-- end left block -->
						  <div class="col-md-6 text-center shadow-left">
						  	<p class="t1">Быстрая регистрация:</p><br>
						  	<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">Email:</label>
    <div class="col-sm-9">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Электронная почта">
      <span class="description">По указанному адресу электронной почты Вам будет отправлено подтверждение заказа.</span>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-3 control-label">Пароль:</label>
    <div class="col-sm-9">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Пароль">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-3 control-label">Повторите:</label>
    <div class="col-sm-9">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Повторите пароль">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9 text-center">
      <button type="button" class="btn btn-info btn-lg btn-block">Зарегистрироваться <span class="glyphicon glyphicon-hand-up"></span></button>
    </div>
  </div>
</form>

						  </div>
					</div>

				</div>
