<div class="paddingText">
					<legend>Оформления заказа (шаг 2 из 3)</legend>
					<p class="description"><a href="/basket/">← Вернуться обратно в корзину</a></p>
					<div class="row">
						<p></p>

						  <div class="col-md-7">
							<p class="t1 text-center">Проверьте данные:</p> <br>
							<form class="form-horizontal" role="form" method="POST" action="/basket/stepTwo/">
								  <div class="form-group">
								    <label class="col-sm-4 text-right">Фамилия:</label>
								    <div class="col-sm-8">
								        <input type="text" class="form-control" name="lastname" value="<?php echo $this->Registry->Auth->lastname; ?>" placeholder="Фамилия" required>
								    </div>
								  </div>
								  <div class="form-group">
								    <label class="col-sm-4 text-right">Имя:</label>
								    <div class="col-sm-8">
								        <input type="text" class="form-control" name="fullname" placeholder="Имя" value="<?php echo $this->Registry->Auth->fullname; ?>" required>
								    </div>
								  </div>
								  <div class="form-group">
								    <label class="col-sm-4 control-label">Отчество:</label>
								    <div class="col-sm-8">
								      <input type="text" class="form-control" name="otvname" placeholder="Отчество" value="<?php echo $this->Registry->Auth->parentname; ?>" required>
								    </div>
								  </div>
									<div class="form-group row">
									<label class="col-sm-4 text-right">Дата рождения:</label>
									  <div class="col-xs-3">
									    <input type="text" class="form-control" name="byrsday" placeholder="06.12.1986" value="<?php echo ($this->Registry->Auth->byrsday ? DateTime::createFromFormat('Y-m-d', $this->Registry->Auth->byrsday)->format('d-m-Y') : ''); ?>" required>
									  </div>
									</div>
								    <div class="form-group row">
									<label class="col-sm-4 text-right">Ваш Email:</label>
									  <div class="col-sm-8">
									    <input type="email" class="form-control" name="email" placeholder="Ваш Email" value="<?php echo $this->Registry->Auth->email?>" required>
									  </div>
									</div>
								  <hr>
								  <p class="t1 text-center">Доставка по адресу:</p> <br>
								  <div class="form-group">
								    <label class="col-sm-4 text-right">Город:</label>
								    <div class="col-sm-8">
								        <input type="text" class="form-control" name="city" placeholder="Город" value="<?php echo $this->Registry->Auth->city?>" required>
								    </div>
								  </div>
								  <div class="form-group">
								    <label class="col-sm-4 text-right">Адрес:</label>
								    <div class="col-sm-8">
								      <input type="text" class="form-control" name="adress" placeholder="ул. Ленина, д. 15, к. 22, кв. 155" value="<?php echo $this->Registry->Auth->street?>"required>
								    </div>
								  </div>
								    <div class="form-group">
								    <label class="col-sm-4 control-label">Мобильный телефон:</label>
								    <div class="col-sm-8">
								      <input type="text" class="form-control" value="<?php echo $this->Registry->Auth->mobile?>" name="mobile" placeholder="Телефон" required>
								    </div>
								  </div>
								  <div class="form-group">
								    <label class="col-sm-4 control-label">Коментарий к заказу:</label>
								    <div class="col-sm-8">
								        <textarea class="form-control" name="comments" rows="3"></textarea>
								    </div>
								 </div>
								  <hr>
								  <p class="t1 text-center">Оплата:</p> <br>
								  	<label class="col-sm-4 control-label">Вариант оплаты:</label>
								    <div class="col-sm-8 text-left">
								  <div class="radio">
										  <label>
										    <input type="radio" name="pay_type" id="optionsRadios3" value="1" checked="">
										   Наличные курьеру
										  </label>
								</div>
								<div class="radio">
										  <label title="В великом будущем">
										    <input type="radio" name="pay_type" id="optionsRadios4" value="2" disabled="true">
										    Банковской картой
										  </label>
								</div>
								<div class="radio">
										  <label title="В великом будущем">
										    <input type="radio" name="pay_type" id="optionsRadios5" value="3" disabled="true" >
										    Электронными деньгами
										  </label>
								</div> <br>
								</div>
								
								  <br>
  								<div class="form-group">
  								  <div class="col-sm-offset-2 col-sm-10 text-center">
  								   <button type="submit" class="btn btn-success btn-lg btn-block">Продолжить покупку <span class="glyphicon glyphicon-share-alt"></span></button>
  								  </div>
  								</div>
								</form>
						  </div> <!-- end left block -->
						  <div class="col-md-4 text-center"></div>
					</div>

				</div>