<script>
	function UpdateBasketAll(){
		$.ajax({
        	type: 'POST',
        	url: '/index.php?controller=Engine:basket&action=UpdateAllBasket',
        	dataType: 'json',
        	success: function(data){
        		$.each(data.items, function(key, value){
        			// console.log(key);
        			$('#' + key +' .priceItem').html(value);
        		});
          		$('.allprice').html(data.allprice);
        	}
      	});
	}
	$(document).ready(function(){
		$('a.cartDeleteGoods').on('click', function(){
			var obParent = $(this).parents('tr');
			$.post('/index.php?controller=Engine:basket&action=deleteitem', 'item='+obParent.attr('id'), function(result){
				if(result == 'false')
					alert('Такого товара не существует в вашей корзине!');
				else {
					obParent.hide();
					UpdateBasket();
					UpdateBasketAll();
				}
			});
			return false;
		});
		$('input[name=colvo]').on('change', function(){
			if($(this).val() == 0){
				var obParent = $(this).parents('tr');
				var obID = obParent.attr('id');

				$('#'+obID+' a.cartDeleteGoods').click();
				return false;
			}

			var obParent = $(this).parents('tr');
			$.post('/index.php?controller=Engine:basket&action=updateCol', 'item='+obParent.attr('id')+'&count='+$(this).val(), function(result){
				if(result == 'false')
					alert('Такого товара не существует в вашей корзине!');
				else {
					UpdateBasket();
					UpdateBasketAll();
				}
			});
			return false;
		})
	});
</script>
<div class="paddingText">
	<legend>Корзина</legend>
	<table class="table cartTable">
	  <tbody><tr class="active">
	    <td>№</td>
	    <td>Описание</td>
	    <td>Кол-во</td>
	    <td>Цена</td>
	    <td>Сумма</td>
	    <td>Удалить</td>
	  </tr>
	  <?php $i = 1; if($this->Registry->SessionStorage->basket['Money'] <= 0) {?>
	  	<tr>
	  		<td colspan="6" align="center">В вашей корзине нет товаров</td>
	  	</tr>
	  <?php } else foreach($this->arItems as $Key => $arItem){ 
	  	$item = explode('_', $Key, 2); 
	  	$arItem = array_merge($arItem, $this->arItemsData[$item[1]]); 
	  	if($arItem['count'] <= 0){
	  		$this->Registry->SessionStorage->basket['items'][$Key]['count'] = 1;
	  		$arItem['count'] = 1;
	  	}
	  ?>
	  <tr id="<?php echo $Key?>">
	    <td><?php echo $i?></td>
	    
	    <td class="cartDescription">
	    	<img src="<?php echo $arItem['detail_image']['thumbs_url']?>" width="150">
	    	 <p><b><?php echo $arItem['name']?></b><br>
	    	 <span class="description">Артикул: <?php echo $arItem['product_id']?></span><br>
	    	 размер: <b><?php echo ($item[0] != 0 ? $item[0] : '-')?></b></p>
	    </td>

	    <td>
	    	<input type="number" min="0" name="colvo" value="<?php echo $arItem['count']?>" max-legth="4" class="input-mini">
	    </td>
	    <td><?php echo number_format($arItem['price']);?></td>
	    <td class="priceItem"><?php echo number_format(($arItem['price'] * $arItem['count']));?></td>
	    <td><a href="#" class="cartDeleteGoods">Х</a></td>
	  </tr>
	<?php $i++; } ?>
	</tbody></table>
	<hr>
	<h4><p class="text-right">Сумма заказа:  <b><span class="allprice"><?php echo number_format($this->Registry->SessionStorage->basket['Money'])?></span> р.</b></p></h4>
	<p class="text-right">Способ получения товара: <a class="dashed" href="#">Доставка по Москве (+ 250 р.)</a></p><br>
	<p class="text-right"><a href="/basket/stepOne/"><button type="button" class="btn btn-success"<?php echo ($this->Registry->SessionStorage->basket['Money'] <= 0 ? ' disabled="true"':'')?>>Перейти к оформлению заказа</button></a>
	</p>
</div>
