<div class="col-md-12">
	<div class="panel panel-primary" data-collapsed="0">
	
		<div class="panel-heading">
			<div class="panel-title">
				Добавить новый товар
			</div>
			
			<div class="panel-options">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#area-main" data-toggle="tab">Основная информация</a></li>
					<li class=""><a href="#area-images" data-toggle="tab">Изображения</a></li>
					<li class=""><a href="#pie-chart" data-toggle="tab">Pie Chart</a></li>
				</ul>
			</div>
		</div>
		<div class="panel-body">
			<form role="form" class="form-horizontal form-groups-bordered">
			<div class="tab-content" >
				<div class="tab-pane active" id="area-main">
					<div class="form-group">
						<label for="name" class="col-sm-3 control-label">Название</label>
						<div class="col-sm-5">
							<input type="text" class="form-control" name="name" id="name" placeholder="Название товара">
						</div>
					</div>
					<div class="form-group">
						<label for="date" class="col-sm-3 control-label">Дата</label>
						<div class="col-sm-5">
							<input type="text" class="form-control datepicker" data-format="dd.mm.yyyy" name="date" id="date" value="<?php echo date('d.m.Y');?>">
						</div>
					</div>
					<div class="form-group">
						<label for="article" class="col-sm-3 control-label">Артикул</label>
						<div class="col-sm-5">
							<input type="text" class="form-control" name="article" id="article">
						</div>
					</div>	
				</div>
				<div class="tab-pane" id="area-images">
					<div class="form-group">
						<label class="col-sm-3 control-label">Детальное изображение</label>
						
						<div class="col-sm-5">
							
							<div class="fileinput fileinput-new" data-provides="fileinput"><input type="hidden">
								<div class="fileinput-new thumbnail" style="width: 200px; height: 150px;" data-trigger="fileinput">
									<img src="http://placehold.it/200x150" alt="...">
								</div>
								<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 6px;"></div>
								<div>
									<span class="btn btn-white btn-file">
										<span class="fileinput-new">Выбор</span>
										<span class="fileinput-exists">Изменить</span>
										<input type="file" name="..." accept="image/*">
									</span>
									<a href="#" class="btn btn-orange fileinput-exists" data-dismiss="fileinput">Удалить</a>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>	
			</form>
		</div>
	</div>
</div>
<link rel="stylesheet" href="<?php echo $this->GlobalTemplate?>/assets/js/dropzone/dropzone.css" id="style-resource-1">
<script src="<?php echo $this->GlobalTemplate?>/assets/js/bootstrap-datepicker.js" id="script-resource-11"></script>
<script src="<?php echo $this->GlobalTemplate?>/assets/js/daterangepicker/moment.min.js" id="script-resource-14"></script>
<script src="<?php echo $this->GlobalTemplate?>/assets/js/daterangepicker/daterangepicker.js" id="script-resource-15"></script>
<script src="<?php echo $this->GlobalTemplate?>/assets/js/neon-api.js" id="script-resource-6"></script>
<script src="<?php echo $this->GlobalTemplate?>/assets/js/resizeable.js" id="script-resource-5"></script>
<script src="<?php echo $this->GlobalTemplate?>/assets/js/fileinput.js" id="script-resource-8"></script>