<link rel="stylesheet" href="<?php echo $this->GlobalTemplate?>/assets/js/select2/select2-bootstrap.css" id="style-resource-1">
<link rel="stylesheet" href="<?php echo $this->GlobalTemplate?>/assets/js/select2/select2.css" id="style-resource-2">
<table class="table table-bordered datatable" id="table-1">
	<thead>
		<tr>
			<th colspan="7"><a href="/admin/catalog/items/add/" class="btn btn-primary btn-icon icon-left">Добавить товар<i class="entypo-plus"></i></a></th>
		</tr>
		<tr>
			<th>#</th>
			<th>Артикул</th>
			<th>Изображение</th>
			<th>Название</th>
			<th>Категория</th>
			<th>Цена</th>
			<th style="width: 112px;">Действия</th>
		</tr>
	</thead>
	<tbody>
		<?php if(count($this->arItems) <= 0) { ?>
			<tr>
				<td colspan="7" align="center"><strong>- Товаров не найдено -</strong></td>
			</tr>
		<?php } else foreach($this->arItems as $ItemID => $arItem) {?>
		<tr class="odd gradeX">
			<td><?php echo $ItemID?></td>
			<td><?php echo $arItem['product_id']?></td>
			<td align="center"><img src="<?php echo $arItem['image']['thumbs_url']?>" /></td>
			<td><?php echo $arItem['name']?></td>
			<td><?php echo $arItem['category']?></td>
			<td><?php echo number_format($arItem['price']['base'])?></td>
			<td>
				<a href="/admin/catalog/orders/?order_id=" class="btn btn-default btn-sm tooltip-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Редактировать"  title="Редактировать">
					<i class="entypo-pencil"></i>
				</a>
				<a data-status="5" data-order="" href="#" class="change_status btn btn-danger btn-sm tooltip-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Удалить"  title="Удалить">
					<i class="entypo-trash"></i>
				</a>
			</td>
		</tr>
		<?php } ?>
	</tbody>
</table>
<script src="<?php echo $this->GlobalTemplate?>/assets/js/jquery.dataTables.min.js" id="script-resource-7"></script>
<script src="<?php echo $this->GlobalTemplate?>/assets/js/dataTables.bootstrap.js" id="script-resource-8"></script>
<script src="<?php echo $this->GlobalTemplate?>/assets/js/select2/select2.min.js" id="script-resource-9"></script>
<script type="text/javascript">
	$(document).ready(function($)
	{
		$("#table-1").dataTable({
			"sPaginationType": "bootstrap",
			"aLengthMenu": [[2, 5, 10, 25, 50, -1], [2, 5, 10, 25, 50, "Все"]],
			"bStateSave": false
		});
		
		$(".dataTables_wrapper select").select2({
			minimumResultsForSearch: -1
		});
	});
</script>