<div style="clear: both;">
	<?php if(!empty($this->obPagination->getPages()->previous)) { ?>
		<a href="?page=<?php echo $this->obPagination->getPages()->previous?>">Prev</a> 
	<?php } ?>
	<?php array_pop($this->obPagination->getPages()->pagesInRange); foreach($this->obPagination->getPages()->pagesInRange as $Key => $Number) { ?>
		<?php if($this->obPagination->getPages()->current == $Number) { ?>
			<span><?php echo $Number?></span>
		<?php } else { ?>
			<a href="?page=<?php echo $Number?>"><?php echo $Number?></a>
		<?php } ?>
	<?php } ?>
	<?php if(!empty($this->obPagination->getPages()->next) && $this->obPagination->getPages()->current < count($this->obPagination->getPages()->pagesInRange)) { ?>
		<a href="?page=<?php echo $this->obPagination->getPages()->next?>">Next</a>
	<?php } ?>
</div>
