<div class="navPanel">
<ul>
	<?php if(!empty($this->arMenu['line']))foreach($this->arMenu['line'] as $key => $Menu) { ?>
		<li><a href="<?php echo $Menu['link']?>"><?php echo $Menu['name']?></a></li>
	<?php } ?>
</ul>