*{margin:0;padding:0;}
*:focus {outline:none;}
@font-face {font-family:'PFDinDisplayProRegular';font-weight:normal;font-style:normal;src:url('fonts/pfdindisplaypro-reg-webfont.eot');src:local('☺'), url('fonts/pfdindisplaypro-reg-webfont.woff') format('woff'), url('fonts/pfdindisplaypro-reg-webfont.ttf') format('truetype'), url('fonts/pfdindisplaypro-reg-webfont.svg#PFDinDisplayProRegular') format('svg');}
@font-face {font-family:'PFDinDisplayProBold';font-weight:normal;font-style:normal;src:url('fonts/pfdindisplaypro-bold-webfont.eot');src:local('☺'), url('fonts/pfdindisplaypro-bold-webfont.woff') format('woff'), url('fonts/pfdindisplaypro-bold-webfont.ttf') format('truetype'), url('fonts/pfdindisplaypro-bold-webfont.svg#PFDinDisplayProBold') format('svg');}
html,body {height:100%;}
body {background:#fff;font:12px Arial,Helvetica,sans-serif;color:#666;}
body.noscroll {overflow:hidden;}
a{outline:none;text-decoration:underline;color:#666;}
a:hover {text-decoration:none;}
ul {list-style:none;}
img {border:none;}
h1 {font-family:'PFDinDisplayProBold';font-weight:normal;font-size:16px;padding:0 0 12px;text-transform:uppercase;color:#000;}
h2 {font-family:'PFDinDisplayProBold';font-weight:normal;font-size:15px;padding:12px 0;text-transform:uppercase;color:#000;}
h3 {font-size:14px;padding:12px 0;color:#333;}

.informer {position:absolute; bottom:10px; text-align:center;margin-top:100px;}

.spravochnik td {border-bottom:1px #ccc solid; padding:5px 20px 5px 0;}


.aboutBlock h1 {font-family:'PFDinDisplayProBold';font-weight:normal;font-size:16px;padding:15px 0 8px;text-transform:uppercase;color:#000;}

.quotes {margin:20px 0 10px 0; line-height:20px; font-weight:bold; border-bottom: 1px solid #eee; color:#000;}

.ceny h2, .ceny p {margin-top:20px;}

hr {height:60px;width:100%;clear:both;border:none;background:url(../images/grey-sep.png) repeat-x 50% 50%;}
form .row {clear:both;}
form input[type="text"],
form input[type="password"],
form textarea {padding:5px 10px;width:150px;margin:0 0 10px;font:10px Arial,Helvetica,sans-serif;color:#999;border:solid 1px #d7d7d7;background:#fff url(../images/input-bg.png) repeat-x top;position:relative;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;behavior:url(../js/pie.htc);}
form input[type="text"],
form input[type="password"] {height:15px;}
form input[type="submit"] {height:29px;width:219px;border:none;cursor:pointer;background-color:transparent;font-size:10px;text-transform:uppercase;color:#2b6221;font-family:Arial,Helvetica,sans-serif;font-weight:bold;text-shadow:#aff8a0 0px 1px;background:url(../images/btn.png) no-repeat 0 0;}
.clear {clear:both;font-size:0;line-height:0;height:0;}
#empty {height:255px;}
.font12 {font-size:12px !important;}
#wrapperOut {min-width:987px;min-height:100%;margin:0 auto;position:relative;overflow:hidden;}
#footer {height:255px;position:relative;min-width:987px;margin:-255px auto 0;}
.footer {height:50px;position:relative;background:#eee url(../images/footer.png) repeat-x top;color:#999;}
.footer > div {position:relative;height:50px;width:967px;margin:0 auto;}
.footer .bottomMenu {position:absolute;left:0;top:0;height:50px;line-height:50px;font-weight:bold;font-size:10px;}
.footer .bottomMenu a {color:#999;text-decoration:none;margin:0 5px;}
.footer .bottomMenu a:hover {text-decoration:underline;}
.footer .copy {font-size:9px;line-height:15px;position:absolute;top:12px;right:40px;text-align:right;}
.footer .counter {position:absolute;right:0;top:10px;}
.bottomCategories {padding:10px 15px;margin:0 auto 20px;width:947px;background:#e0e0e0;position:relative;overflow:hidden;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;behavior:url(../js/pie.htc);}
.bottomCategories a {text-decoration:none;}
.bottomCategories a:hover {text-decoration:underline;}
.bottomCategories .col {float:left;width:20%;font-weight:bold;font-size:10px;}
.bottomCategories .col ul {padding:0 20px 3px 0;}
.bottomCategories .col ul li {padding:2px 0;}
.bottomCategories .col ul li strong {font-weight:normal;font-family:'PFDinDisplayProBold';color:#000;text-transform:uppercase;display:block;padding:0 0 4px;}
.bottomCategories .col ul li strong a {color:#000;}
#whitePage {background:#fff;border:solid 1px #ececec;border-top:none;width:945px;margin:0 auto 20px;position:relative;padding:0 15px 10px;box-shadow:rgba(0,0,0,0.2) 0px 0px 5px;-moz-box-shadow:rgba(0,0,0,0.2) 0px 0px 5px;-webkit-box-shadow:rgba(0,0,0,0.2) 0px 0px 5px;border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;-webkit-border-radius:0 0 6px 6px;behavior:url(../js/pie.htc);}
#header {height:142px;position:relative;z-index:20;}
#header img.logo {position:absolute;left:14px;top:18px;}
#header .phones {position:absolute;top:8px;padding-right:15px; text-align:right;text-align:right;font-family:'PFDinDisplayProRegular';color:#000;font-size:22px;}
#header .phones span {font-family:'PFDinDisplayProRegular';color:#ff0000;font-size:16px;font-weight:normal;}
#header .bin {width:148px;height:50px;background:#f3f3f3 url(../images/bin-empty.png) no-repeat 20px 10px;position:absolute;top:0;right:0px;border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;-webkit-border-radius:0 0 6px 6px;behavior:url(../js/pie.htc);}
#header .bin.full {background-image:url(../images/bin-full.png);}
#header .bin p {padding:0 0 0 40px;height:50px;color:#333;font-size:10px;line-height:50px;text-align:center;text-transform:uppercase;}
#header .bin p a {text-decoration:none;color:#333;}
#header .bin p a:hover {text-decoration:underline;}
#header ul.addlMenu {height:40px;position:absolute;right:5px;top:50px;font-size:10px;text-transform:uppercase;font-family:'PFDinDisplayProBold';line-height:40px;}
#header ul.addlMenu li {display:inline;padding:0 10px 0 12px;background:url(../images/top-menu-addl-sep.png) no-repeat 0 50%;}
#header ul.addlMenu li:first-child {background:none;}
#header ul.addlMenu li a {text-decoration:none;}
#header ul.addlMenu li a:hover {text-decoration:underline;}
#header .loginBlock {height:40px;width:148px;position:absolute;top:50px;right:0px;text-align:center;z-index:11;}
#header .loginBlock .btns {padding:0 0 0 12px;background:url(../images/icon-login.png) no-repeat 0 50%;line-height:40px;font-family:'PFDinDisplayProBold';font-size:10px;color:#000;text-transform:uppercase;}
#header .loginBlock .btns span {cursor:pointer;}
#header .loginBlock .btns a{color:#000;text-decoration:none;}
#header .loginBlock .btns span:hover {text-decoration:underline;}
#header .loginBlock .btns a:hover {text-decoration:underline;}
#header .loginBlock form {display:none;width:166px;padding:15px 15px 10px;position:absolute;top:35px;background:#666;z-index:10;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;behavior:url(../js/pie.htc);}
#header .loginBlock form i.pipka {display:block;width:10px;height:5px;position:absolute;top:-5px;right:27px;background:url(../images/pipka.png) no-repeat 0 0;}
#header .loginBlock form input[type="text"] {width:145px;}
form.login {display:none;width:166px;padding:15px 15px 10px;position:absolute;top:35px;background:#666;z-index:10;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;behavior:url(../js/pie.htc);right:70px;}
form.login input[type="submit"] {float:left;width:79px;background:url(../images/btn-login.png) no-repeat 0 0;}
form.login p.forgotten {width:85px;float:right;line-height:26px;text-align:right;font-size:11px;color:#ccc;font-family:'PFDinDisplayProRegular';}
form.login p.forgotten a {color:#ccc;}
form.login p.forgotten span { cursor: pointer; text-decoration: underline; }
form.login p.forgotten span:hover { text-decoration: none; }
form.login input[type="text"] {width:145px;}
form.login i.pipka {display:block;width:10px;height:5px;position:absolute;top:-5px;right:27px;background:url(../images/pipka.png) no-repeat 0 0;}
#header .cabinet {height:40px;width:148px;position:absolute;top:50px;right:0px;line-height:40px;font-family:'PFDinDisplayProBold';font-size:10px;color:#000;text-transform:uppercase;}
#header .cabinet a.cab {float:left;color:#000;text-decoration:none;}
#header .cabinet a.cab:hover {text-decoration:underline;}
#header .cabinet a.logout {float:right;padding-left:15px;background:url(../images/logout.png) no-repeat 0 50%;text-decoration:none;}
#header .cabinet a.logout:hover {text-decoration:underline;}
#header .navPanel {width:945px;height:45px;position:absolute;left:0px;bottom:7px;background:#c8c8c8 url(../images/nav-panel.png) repeat-x top;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;behavior:url(../js/pie.htc);}
#header .navPanel form.seacher {width:135px;height:25px;position:absolute;top:10px;right:15px;}
#header .navPanel form.seacher input[type="text"] {width:98px;height:13px;padding:5px 10px 5px 25px;background:#fff url(../images/icon-seacher.png) no-repeat 6px 50%;}
#header .navPanel > ul {height:45px;position:absolute;left:0;top:0;}
#header .navPanel > ul > li {float:left;height:45px;position:relative;background:url(../images/menu-sep.png) no-repeat 0 50%;}
#header .navPanel > ul > li:first-child {background:none;}
#header .navPanel > ul > li > a {display:block;height:45px;padding:0 15px;font-size:12px;line-height:45px;font-family:'PFDinDisplayProBold';color:#000;text-decoration:none;text-transform:uppercase;}
#header .navPanel > ul > li > a:hover,#header .navPanel > ul > li.hover > a {background:#f8f8f8 url(../images/top-menu-active.png) repeat-x top;}
#header .navPanel > ul > li:first-child > a {position:relative;border-radius:6px 0 0 6px;-moz-border-radius:6px 0 0 6px;-webkit-border-radius:6px 0 0 6px;behavior:url(../js/pie.htc);}
#header .navPanel > ul > li .sub {display:none;min-width:200px;position:absolute;left:0;top:40px;padding:10px 15px 0;background:#d3d3d3 url(../images/sub-bg.png) repeat-x top;font-size:11px;z-index:999;border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;-webkit-border-radius:0 6px 6px 6px;}
#header .navPanel > ul > li .sub a {text-decoration:none;}
#header .navPanel > ul > li .sub a:hover {text-decoration:underline;}
#header .navPanel > ul > li .sub ul {padding:0 25px 12px 0;width:175px;}
#header .navPanel > ul > li .sub ul li {padding:2px 0;}
#header .navPanel > ul > li .sub ul li strong {display:block;padding:0 0 4px;color:#000;text-transform:uppercase;font-family:'PFDinDisplayProBold';font-weight:normal;}
#header .navPanel > ul > li .sub ul li strong a {color:#000;}
#header .navPanel > ul > li .sub .table  {display:table;table-layout:fixed;}
#header .navPanel > ul > li .sub .table .tr {display:table-row;}
#header .navPanel > ul > li .sub .table .tr .td {display:table-cell;width:200px;}
.mainSlider {float:left;width:640px;height:350px;position:relative;margin:0 0 8px 0;background:#e5e5e5;}
.mainSlider .conerLeft,.mainSlider .conerRight {width:10px;height:350px;position:absolute;top:0;background:url(../images/main-slider-coners.png) no-repeat 0 0;z-index:10;}
.mainSlider .conerLeft {left:0;background-position:0 0;}
.mainSlider .conerRight {right:0;background-position:100% 0;}
.mainSlider .navi {position:absolute;bottom:15px;right:20px;z-index:5;}
.mainSlider .navi a {width:12px;height:12px;float:left;margin:0 0 0 8px;background:url(../images/main-slider-navi.png) no-repeat 0 0;cursor:pointer;}
.mainSlider .navi a:hover,.mainSlider .navi a.active {background-position:0 100%;}
.mainSlider .scrollable {position:relative;overflow:hidden;width:640px;height:350px;}
.mainSlider .scrollable .items {width:20000em;position:absolute;clear:both;}
.mainSlider .scrollable .items .slide {float:left;width:640px;position:relative;height:350px;}
.mainSlider a.browse {background:url(../images/arrs-main-slider.png) no-repeat;display:block;width:21px;height:21px;cursor:pointer;font-size:1px;position:absolute;top:160px;}
.mainSlider a.right {background-position:100% 0;right:15px;}
.mainSlider a.left {background-position:0 0;left:15px;}
.sliderTextBlock .title {height:36px;line-height:36px;padding:0 15px;position:relative;border-bottom:solid 1px #fff;background:#e0e0e0;font-size:12px;color:#000;font-family:'PFDinDisplayProBold';border-radius:6px 6px 0 0;-moz-border-radius:6px 6px 0 0;-webkit-border-radius:6px 6px 0 0;behavior:url(../js/pie.htc);}
.sliderTextBlock .title a{text-decoration: none;color:#000;}
.sliderTextBlock .title i {display:block;width:6px;height:9px;line-height:1px;font-size:1px;position:absolute;top:13px;background:url(../images/arrs-small.png) no-repeat;cursor:pointer;}
.sliderTextBlock .title i.prev {background-position:0 0;right:30px;}
.sliderTextBlock .title i.next {background-position:100% 0;right:15px;}
.sliderTextBlock .content {background:#eee;position:relative;border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;-webkit-border-radius:0 0 6px 6px;behavior:url(../js/pie.htc);}
.sliderTextBlock.news {width:296px;float:right;margin:0 0px 8px 0;}
.sliderTextBlock.news .content {height:313px;width:296px;overflow:hidden;}
.sliderTextBlock.news .content ul {height:313px;}
.sliderTextBlock.news .content ul li {float:left;width:296px;height:313px;overflow:hidden;}
.sliderTextBlock.news .item {padding:14px 10px 14px 50px;position:relative;background:url(../images/sep.png) repeat-x top;font-size:11px;}
.sliderTextBlock.news .item strong {display:block;padding:0 0 4px;}
.sliderTextBlock.news .item img {position:absolute;left:10px;top:14px;}
.sliderTextBlock.news .item a {text-decoration:none;}
.sliderTextBlock.news .item a:hover {text-decoration:underline;}
.sliderTextBlock.news .content ul li .item:first-child {background:none;}
.sliderTextBlock.blog {width:494px;float:right;margin:0 0px 10px 0;}
.sliderTextBlock.blog .content {height:255px;width:494px;overflow:hidden;}
.sliderTextBlock.blog .content ul {height:313px;}
.sliderTextBlock.blog .content ul li {float:left;width:494px;height:313px;overflow:hidden;}
.sliderTextBlock.blog .item {padding:14px 10px 14px 105px;position:relative;background:url(../images/sep.png) repeat-x top;font-size:11px;}
.sliderTextBlock.blog .item strong {display:block;padding:0 0 4px;}
.sliderTextBlock.blog .item img {position:absolute;left:16px;top:14px;}
.sliderTextBlock.blog .item a {text-decoration:none;}
.sliderTextBlock.blog .item a:hover {text-decoration:underline;}
.sliderTextBlock.blog .content ul li .item:first-child {background:none;}
.mainBanner {float:left;width:315px;height:120px;margin:0 9px 10px 0px;background:#ccc;position:relative;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;behavior:url(../js/pie.htc);}

.mainBanner1 {float:left;width:315px;height:120px;margin:0 9px 10px 0;background-image:url(../images/banner_1.jpg);position:relative;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;behavior:url(../js/pie.htc);}
.mainBanner2 {float:left;width:315px;height:120px;margin:0 9px 10px 0;background-image:url(../images/banner_2.jpg);position:relative;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;behavior:url(../js/pie.htc);}
.mainBanner3 {float:right;width:296px;height:120px;margin:0 0 10px 0;background-image:url(../images/banner_3.jpg);position:relative;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;behavior:url(../js/pie.htc);}


form.subscribe {width:280px;height:120px;padding:0 0 0 16px;float:right;margin:0 0px 10px 0;background:#eee;position:relative;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;behavior:url(../js/pie.htc);}
form.subscribe .title {padding:15px 0 10px;color:#993333;font-size:12px;font-family:'PFDinDisplayProBold';}
form.subscribe input[type="text"] {float:left;width:125px;height:18px;}
form.subscribe input[type="submit"] {width:109px;float:left;margin:0 0 0 8px;color:#000;text-shadow:none;background-image:url(../images/btn-grey-short.png);font-size:10px;}
form.subscribe p {font-size:10px;padding:0 10px 0 0;}
.brandsCarousel {margin:0 0px 25px;}
.brandsCarousel i {display:block;width:29px;height:120px;position:absolute;top:0;background:url(../images/arrs-brands.png) no-repeat;cursor:pointer;}
.brandsCarousel i.prev {left:0;background-position:0 0;}
.brandsCarousel i.next {right:0;background-position:100% 0;}
.brandsCarousel .inner {height:120px;position:relative;background:#f7f7f7;}
.brandsCarousel .inner > div {width:900px;height:120px;margin:0 auto;overflow:hidden;}
.brandsCarousel .inner > div ul {height:120px;}
.brandsCarousel .inner > div ul li {float:left;width:100px;height:120px;text-align:center;}
.brandsCarousel .inner > div ul li .brand {padding:10px 0 0 0;height:75px;}
.brandsCarousel .inner > div ul li .name {font-size:11px;line-height:11px;font-weight:bold;text-transform:uppercase;padding:0 10px;display:table-cell;vertical-align:middle;height:30px;width:80px;}
.brandsCarousel .inner > div ul li .name a {text-decoration:none;color:#000;}
.brandsCarousel .inner > div ul li .name a:hover {text-decoration:underline;}
.aboutBlock {float:left;width:430px;margin:-14px 0 10px 0px;}
.aboutBlock p {padding:0 0 5px;line-height:14px;font-size:12px;}
.mainTabsBlock {padding:0 0px 25px;;}
.mainTabsBlock ul.tabs {height:30px;position:relative;font-size:15px;font-family:'PFDinDisplayProBold';text-transform:uppercase;}
.mainTabsBlock ul.tabs li {height:30px;cursor:pointer;float:left;padding:0 25px 0 0;}
.mainTabsBlock ul.tabs a {display:block;height:30px;text-decoration:none;color:#ccc;}
.mainTabsBlock ul.tabs a.current,ul.tabs a.current:hover,ul.tabs li.current a {color:#000;cursor:default !important;}
.mainTabsBlock .panes .pane {display:none;height:220px;position:relative;}
.mainTabsBlock a.browse {background:url(../images/arrs.png) no-repeat;display:block;width:29px;height:220px;cursor:pointer;position:absolute;top:0px;}
.mainTabsBlock a.right {background-position:100% 0;right:0px;}
.mainTabsBlock a.left {background-position:0 0;left:0px;}
.mainTabsBlock .scrollable {position:relative;overflow:hidden;width:910px;height:220px;margin:0 0 0 28px;}
.mainTabsBlock .scrollable .items {width:20000em;position:absolute;clear:both;}
.mainTabsBlock .scrollable .items .scrollBlock {float:left;width:910px;}
.mainTabsBlock .scrollable .items .item {float:left;width:178px;height:220px;background:url(../images/main-prod-bg.png) no-repeat 0 0;}
.mainTabsBlock .scrollable .items .item .photo {height:160px;width:160px;margin:0 auto;position:relative;text-align:center;}
.mainTabsBlock .scrollable .items .item .photo .img {width:160px;height:160px;display:table-cell;vertical-align:middle;text-align:center;}
.mainTabsBlock .scrollable .items .item .photo .img img {max-height:160px;max-width:160px;}
.mainTabsBlock .scrollable .items .item .photo .cat {position:absolute;left:10px;bottom:10px;height:14px;color:#000;font-weight:bold;font-size:9px;padding:0 5px;line-height:14px;text-transform:uppercase;background:#d7d7d7;border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px;behavior:url(../js/pie.htc);}
.mainTabsBlock .scrollable .items .item .describe {font-size:11px;padding:5px 10px;}
.mainTabsBlock .scrollable .items .item .describe a{text-decoration: none;}
.mainTabsBlock .scrollable .items .item .describe span {color:#000;display:block;padding:3px 0 0;}
.crumbs {font-size:10px;text-transform:uppercase;padding:10px 0 17px;}
.crumbs a {font-weight:bold;text-decoration:none;margin:0 1px;}
.crumbs a:hover {text-decoration:underline;}
.leftSidebar {float:left;width:230px;}
.leftSidebar .categories {padding:8px 15px;margin:0 0 20px;background:#f3f3f3;position:relative;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;behavior:url(../js/pie.htc);}
.leftSidebar .categories a {text-decoration:none;color:#000;}
.leftSidebar .categories a:hover {text-decoration:underline;}
.leftSidebar .categories > ul {font-size:11px;color:#999;text-transform:uppercase;}
.leftSidebar .categories > ul li {padding:5px 0;}
.leftSidebar .categories > ul > li > a {font-weight:bold;}
.leftSidebar .categories > ul > li ul {padding:5px 0 0 0;}
.leftSidebar form.search .titleSearch {height:24px;line-height:24px;border-bottom:solid 1px #e3e3e3;color:#000;}
.leftSidebar form.search .titleSearch strong {float:left;font-size:11px;text-transform:uppercase;}
.leftSidebar form.search .titleSearch a {float:right;text-decoration:none;font-size:10px;color:#000;padding:0 12px 0 0;margin:0 7px 0 0;background:url(../images/reset.png) no-repeat 100% 50%;}
.leftSidebar form.search .titleSearch a:hover {text-decoration:underline;}
.leftSidebar form.search .parametrBlock {padding:15px 10px;border-bottom:solid 1px #e3e3e3;}
.leftSidebar form.search .parametrBlock > strong {display:block;font-size:11px;padding:0 0 5px;}
.leftSidebar form.search .parametrBlock .row {padding:4px 0 0 0;}
.leftSidebar form.search .parametrBlock label {font-size:11px;color:#000;font-weight:bold;}
.leftSidebar form.search .parametrBlock .scrollPane {width:100%;max-height:177px;overflow:auto;}
.leftSidebar form.search .searchField {padding:15px 0 0 0;}
.leftSidebar form.search .searchField > strong {display:block;color:#000;font-size:11px;text-transform:uppercase;padding:0 0 10px;}
.leftSidebar form.search .searchField .input {position:relative;}
.leftSidebar form.search .searchField .input i {display:block;width:13px;height:13px;position:absolute;top:7px;left:8px;background:url(../images/icon-seacher.png) no-repeat 0 0;}
.leftSidebar form.search .searchField .input input[type="text"] {width:192px;padding-left:26px;}
.rightContent {float:right;width:700px;}
.aboutCat {padding:0 20px 0;margin:0 0 5px;border:solid 1px #e3e3e3;position:relative;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;behavior:url(../js/pie.htc);}
.aboutCat p {padding:0 0 5px;line-height:16px;}
.aboutCat a {color:#000;}
.aboutCat h1 {font-size:15px;padding:12px 0;}
.pagenator {text-align:center;}
.pagenator ul {font-size:12px;font-weight:bold;color:#000;padding:0 0 8px;}
.pagenator ul li {display:inline;padding:0 8px;}
.pagenator ul li a {text-decoration:none;color:#999;}
.pagenator ul li a:hover {text-decoration:underline;}
.pagenator > a {display:inline-block;width:29px;height:29px;margin:0 5px;background:url(../images/pages.png) no-repeat;}
.pagenator > a.back {background-position:0 0;}
.pagenator > a.forward {background-position:100% 0;}
.sorting {padding:10px 0;}
.sorting .sort {float:left;height:23px;margin:3px 0 0 0;}
.sorting .sort .view {float:left;height:23px;padding:0 18px 0 6px;}
.sorting .sort .view a,.sorting .sort .view span {float:left;width:23px;height:23px;margin:0 2px;background:url(../images/views.png) no-repeat;}
.sorting .sort .view a.grid {background-position:0 0;}
.sorting .sort .view span.grid {background-position:0 100%;}
.sorting .sort .view a.list {background-position:100% 0;}
.sorting .sort .view span.list {background-position:100% 100%;}
.sorting .sort .param {float:left;height:23px;line-height:23px;color:#999;font-size:10px;text-transform:uppercase;}
.sorting .sort .param a {text-decoration:none;color:#999;margin:0 0 0 10px;padding:0 10px 0 0;}
.sorting .sort .param a:hover {text-decoration:underline;}
.sorting .sort .param span {color:#666;margin:0 0 0 10px;padding:0 10px 0 0;}
.sorting .sort .param a.up {background:url(../images/arr-up.png) no-repeat 100% 30%;}
.sorting .sort .param a.down {background:url(../images/arr-down.png) no-repeat 100% 30%;}
.sorting .pagenator {float:right;}
.sorting .pagenator ul {float:left;line-height:29px;padding:0 5px 0 0;}
.sorting .pagenator > a {float:left;}
.rating {height:8px;width:45px;background:url(../images/rating.png) no-repeat 0 0;}
.rating span {float:left;height:8px;background:url(../images/rating.png) no-repeat 0 100%;}
.catalogList .item {border-bottom:solid 1px #e3e3e3;padding:10px 0;}
.catalogList .item:first-child {border-top:solid 1px #e3e3e3;}
.catalogList .item .photo {float:left;width:75px;height:75px;padding:0 15px 0 10px;}
.catalogList .item .photo .img {width:75px;height:75px;display:table-cell;vertical-align:middle;text-align:center;}
.catalogList .item .photo .img img {max-height:75px;max-width:75px;}
.catalogList .item .price {float:right;width:110px;padding:20px 0 20px 30px;font-size:14px;color:#000;}
.catalogList .item .discount {background:url(../images/icon-price.png) no-repeat 0 50%;}
.catalogList .item .price span {font-size:12px;color:#999;text-decoration:line-through;}
.catalogList .item .describe {float:left;width:440px;}
.catalogList .item .describe .title {font-size:13px;color:#000;padding:0 0 5px;}
.catalogList .item .describe .title a {text-decoration:none;color:#000;}
.catalogList .item .describe .title a:hover {text-decoration:underline;}
.catalogList .item .describe p {font-size:11px;padding:0 0 7px;}
.catalogGrid {border:solid 1px #e3e3e3;border-left:none;border-right:none;overflow:hidden;}
.catalogGrid .row {clear:both;}
.catalogGrid .row .item {float:left;width:175px;background:url(../images/main-prod-bg.png) no-repeat 0 20px;}
.catalogGrid .row .item:first-child {background:none;}
.catalogGrid .row .item .photo {text-align:center;height:160px;width:160px;margin:0 auto;padding:20px 0 0;background:url(../images/cat-item-bg-top.png) no-repeat 50% 0;position:relative;}
.catalogGrid .row .item .photo .img {width:160px;height:160px;text-align:center;display:table-cell;vertical-align:middle;}
.catalogGrid .row .item .photo .img img {max-height:160px;max-width:160px;}
.catalogGrid .row .item .photo .cat {position:absolute;left:10px;bottom:5px;height:14px;color:#000;font-weight:bold;font-size:9px;padding:0 5px;line-height:14px;text-transform:uppercase;background:#d7d7d7;border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px;behavior:url(../js/pie.htc);}
.catalogGrid .row:first-child .item .photo {background:none;}
.catalogGrid .row .item .describe {font-size:11px;padding:5px 10px;}
.catalogGrid .row .item .describe a{text-decoration: none;}
.catalogGrid .row .item .describe .meta {padding:3px 50px 5px 0;margin:2px 0 0 0;position:relative;color:#000;}
.catalogGrid .row .item .describe .meta .rating {position:absolute;top:6px;right:0;}
.catalogGrid .row .item .describe .meta span {color:#999;text-decoration:line-through;}
.catalogGrid .row .item .describe .meta.sale {padding-left:24px;background:url(../images/icon-price.png) no-repeat 0 50%;}
.orderSteps {width:540px;margin:20px auto 80px;background:url(../images/order-steps.png) no-repeat 85px 0;}
.orderSteps ul li {float:left;width:180px;padding:20px 0 0 0;text-align:center;font-size:9px;text-transform:uppercase;font-weight:bold;}
.orderSteps ul li.active {color:#000;background:url(../images/step-act.png) no-repeat 85px 0;}
form.greyBox {background:#f3f3f3 url(../images/grey-sep.png) repeat-y center;margin:0 0 50px;position:relative;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;behavior:url(../js/pie.htc);}
form.greyBox h2 {padding-bottom:20px;}
form.greyBox .col {float:left;width:50%;}
form.greyBox .col > div {padding:25px 0 30px 60px;width:330px;}
form.greyBox .row {position:relative;}
form.greyBox .row label {float:left;width:90px;padding:7px 0 7px;font-size:10px;color:#000;font-weight:bold;text-transform:uppercase;}
form.greyBox .row input[type="text"],
form.greyBox .row input[type="password"] {float:right;}
form.greyBox input[type="submit"].btnOrderNext {float:right;margin-right:2px;margin-top:5px;}
form.greyBox input[type="submit"].btnOrderNextGrey,
form.greyBox a.btnOrderNextGrey {height:29px;width:219px;border:none;cursor:pointer;background-color:transparent;font-size:10px;text-transform:uppercase;color:#2b6221;font-family:Arial,Helvetica,sans-serif;font-weight:bold;text-shadow:#aff8a0 0px 1px;background:url(../images/btn.png) no-repeat 0 0;float:right;color:#000;text-shadow:none;background-image:url(../images/btn-order-next-grey.png);margin-right:2px;margin-top:5px; text-align: center; line-height: 29px; text-decoration: none;}
form.greyBox input[type="submit"].btnContinue {float:right;margin-right:2px;margin-top:5px;}
form.greyBox input[type="submit"].btnClickLogin {float:left;}
form.greyBox input[type="submit"].btnAddAddr {width:219px;background-image:url(../images/btn-add-addr.png);}
form.greyBox a.forgotten {float:right;height:29px;line-height:29px;color:#999;font-size:10px;text-transform:uppercase;}
form.greyBox .allreadyReg {width:295px !important;}
form.greyBox .allreadyReg label {width:65px;}
form.greyBox .allreadyReg a.forgotten {float:none;position:absolute;left:305px;top:0;white-space:nowrap;}
form.greyBox span.change {color:#999;cursor:pointer;}
form.greyBox span.change:hover {text-decoration:underline;}
form.greyBox .address {width:360px !important;}
form.greyBox .address label {width:330px;font-size:11px;padding:1px 0 20px 5px;text-transform:none;color:#333;}
form.greyBox .address .changeField {display:none;clear:both;padding:0 0 15px;}
form.greyBox .address .changeField input[type="text"] {float:none;}
form.greyBox .value {width:222px;float:right;font-size:11px;padding:7px 0;}
form.greyBox .value .changeField {display:none;padding:10px 0 0;}
form.greyBox .value .changeField label {padding:0 0 5px;margin-top:-10px;color:#666;text-transform:none;}
form.greyBox input[type="submit"].save {position:absolute;right:0;bottom:-45px;background-image:url(../images/btn-tobin.png);width:149px;}
form.greyBox span.login{ float:left;padding: 8px 46px; border:none;cursor:pointer;background-color:transparent;font-size:10px;text-transform:uppercase;color:#2b6221;font-family:Arial,Helvetica,sans-serif;font-weight:bold;text-shadow:#aff8a0 0px 1px;background:url(../images/btn.png) no-repeat 0 0;}
.thankYou {text-align:center;padding:50px 0;}
.thankYou h1 {font-size:28px;padding:0 0 40px;color:#000;text-transform:uppercase;font-family:'PFDinDisplayProBold';}
.thankYou p {font-weight:bold;padding:0 0 10px;}
.cabinetTabs {padding:10px 0;}
.cabinetTabs .section ul.tabs {height:37px;border-bottom:solid 3px #e0e0e0;font-family:'PFDinDisplayProBold';}
.cabinetTabs .section ul.tabs li {float:left;height:37px;line-height:37px;padding:0 20px;text-transform:uppercase;color:#000;margin:0 0 0 10px;background:#f7f7f7;position:relative;border-radius:6px 6px 0 0;-moz-border-radius:6px 6px 0 0;-webkit-border-radius:6px 6px 0 0;behavior:url(../js/pie.htc);cursor:pointer;}
.cabinetTabs .section ul.tabs li.current {cursor:default;background:#e0e0e0;}
.cabinetTabs .section .box {display:none;padding:20px 0;}
.cabinetTabs .section .box.visible {display:block;}
.cabinetTabs table {width:100%;border-collapse:collapse;}
.cabinetTabs table tr td {vertical-align:top;border-bottom:solid 1px #e0e0e0;padding:15px 0 15px 15px;}
.cabinetTabs table thead tr td {font-size:11px;font-weight:bold;padding-bottom:5px;padding-top:0;}
.cabinetTabs table tbody tr td {font-size:12px;}
.cabinetTabs table tr td.date {width:105px;white-space:nowrap;}
.cabinetTabs table tr td.number {width:85px;font-weight:bold;}
.cabinetTabs table tr td.summa {width:110px;white-space:nowrap;}
.cabinetTabs table tr td.status {width:75px;}
.cabinetTabs table tr td.describe {color:#333;}
.cabinetTabs table tr td.describe span.grey {color:#999;}
.cabinetTabs table tr td.describe a {text-decoration:none;color:#333;}
.cabinetTabs table tr td.describe a:hover {text-decoration:underline;}
.cabinetTabs table tr td.describe p.info {padding:0 0 10px;}
.cabinetTabs table tr td.describe p.info b {color:#666;font-size:10px;}
.cabinetTabs table tr.colored td {background:#f7f7f7;}
.contactsBlock {padding:10px 0 10px;}
.contactsBlock .map {float:right;height:408px;width:530px;background:#666;}
.contactsBlock .leftCol {width:395px;float:left;}
.contactsBlock .contact {color:#333;padding:0 0 15px;}
.contactsBlock .contact p {padding:0 0 14px;}
.contactsBlock .contact strong {font-size:14px;text-transform:uppercase;}
.contactsBlock form {padding:10px 0 18px 30px;background:#f3f3f3;position:relative;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;behavior:url(../js/pie.htc);}
.contactsBlock form h2 {padding-bottom:20px;}
.contactsBlock form .row input[type="text"],
.contactsBlock form .row textarea {font:12px Arial,Helvetica,sans-serif;color:#666;margin-bottom:15px;}
.contactsBlock form .row input[type="text"] {float:left;margin-right:14px;width:140px !important;}
.contactsBlock form .row textarea {width:315px;height:100px;}
.contactsBlock form input[type="submit"] {width:109px;color:#000;text-shadow:none;background-image:url(../images/btn-grey-short.png);}
.blog .rightSidebar {float:right;width:180px;}
.blog .rightSidebar .menu {padding:10px 15px;background:#f3f3f3;font-size:11px;font-weight:bold;color:#000;text-transform:uppercase;margin:0 0 30px;position:relative;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;behavior:url(../js/pie.htc);}
.blog .rightSidebar .menu a {text-decoration:none;color:#0055a9;}
.blog .rightSidebar .menu a:hover {text-decoration:underline;}
.blog .rightSidebar .menu ul li {padding:5px 0;}
.blog .rightSidebar .tags {margin:0 0 30px;}
.blog .rightSidebar .tags .title {font-size:11px;font-weight:bold;color:#000;text-transform:uppercase;border-bottom:solid 1px #eee;padding:7px 0;margin:0 0 8px;}
.blog .rightSidebar .tags a {text-decoration:none;font-size:9px;text-transform:uppercase;white-space:nowrap;background:#f0f0f0;padding:0px 3px;margin:1px 2px 1px 0;}
.blog .rightSidebar .tags a:hover {text-decoration:underline;}
.blog .rightSidebar .popular {font-size:11px;margin:0 0 30px;}
.blog .rightSidebar .popular .title {font-size:11px;font-weight:bold;color:#000;text-transform:uppercase;padding:0 0 7px;}
.blog .rightSidebar .popular a {text-decoration:none;}
.blog .rightSidebar .popular a:hover {text-decoration:underline;}
.blog .rightSidebar .popular p {border-top:solid 1px #eee;padding:7px 0;}
.blog .content {float:left;width:745px;}
.blog .content .pagenator {padding:15px 0;}
.blog .content .record {border-bottom:solid 1px #eee;padding:15px 0 5px;}
.blog .content .record h3 {font-size:16px;padding-top:0;}
.blog .content .record h3 a {color:#000;text-decoration:none;}
.blog .content .record h3 a:hover {text-decoration:underline;}
.blog .content .record p {font-size:13px;padding:0 0 10px;line-height:18px;}
.blog .content .record img {float:left;margin:0 15px 10px 0;}
.blog .content .fullPost h1 {font:bold 16px Arial,Helvetica,sans-serif;padding:0 0 12px;color:#0055a9;text-transform:none;}
.blog .content .fullPost h1 a {text-decoration:none;color:#0055a9;}
.blog .content .fullPost h1 a:hover {text-decoration:underline;}
.blog .content .fullPost p {padding:0 0 15px;font-size:14px;line-height:18px;}
.blog .content .fullPost a {color:#000;}
.blog .content .fullPost img {margin:0 0 15px;}


.infopage .content .pagenator {padding:15px 0;}
.infopage .content .record {border-bottom:solid 1px #eee;padding:15px 0 5px;}
.infopage .content .record h3 {font-size:16px;padding-top:0;}
.infopage .content .record h3 a {color:#000;text-decoration:none;}
.infopage .content .record h3 a:hover {text-decoration:underline;}
.infopage .content .record p {font-size:13px;padding:0 0 10px;line-height:18px;}
.infopage .content .record img {float:left;margin:0 15px 10px 0;}
.infopage .content .fullPost h1 {font:bold 16px Arial,Helvetica,sans-serif;padding:0 0 12px;color:#0055a9;text-transform:none;}
.infopage .content .fullPost h1 a {text-decoration:none;color:#0055a9;}
.infopage .content .fullPost h1 a:hover {text-decoration:underline;}
.infopage .content .fullPost p {padding:0 0 15px;font-size:14px;line-height:18px;}
.infopage .content .fullPost a {color:#000;}
.infopage .content .fullPost img {margin:0 0 15px;}


.commentsBlock { background: #f9f9f9; border: solid 1px #ececec; width: 945px; margin: 0 auto 20px; position: relative; padding: 12px 15px 30px;box-shadow: rgba(0,0,0,0.2) 0px 0px 5px; -moz-box-shadow: rgba(0,0,0,0.2) 0px 0px 5px; -webkit-box-shadow: rgba(0,0,0,0.2) 0px 0px 5px;border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; behavior: url(../js/PIE.htc); }
.commentsBlock .singleComment {width:945px;margin:0 -15px;padding:15px;background:#efefef url(../images/comment-sep.png) repeat-x top;position:relative;}
.commentsBlock .singleComment .photo {float:left;width:50px;height:50px;margin:0 10px 0 0;background:#e0e0e0 url(../images/no-photo.png) no-repeat 50% 50%;position:relative;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;behavior:url(../js/pie.htc);}
.commentsBlock .singleComment .text {float:left;width:780px;}
.commentsBlock .singleComment .text .title {font-weight:bold;padding:0 0 16px;}
.commentsBlock .singleComment .text .title > span {float:left;padding:0 10px 0 0;}
.commentsBlock .singleComment .text .title .ratingMid {float:left;position:relative;top:2px;}
.commentsBlock .singleComment .text p {padding:0 0 16px;font-size:11px;}
.commentsBlock .singleComment .text a.comment {font-size:9px;color:#999;text-transform:uppercase;font-weight:bold;text-decoration:none;}
.commentsBlock .singleComment .text a.comment:hover {text-decoration:underline;}
.commentsBlock .singleComment .date {float:right;width:100px;position:relative;text-align:right;min-height:50px;color:#999;font-size:10px;font-weight:bold;}
.commentsBlock .singleComment .rate {position:absolute;right:15px;bottom:15px;height:15px;}
.commentsBlock .singleComment .rate img {float:left;}
.commentsBlock .singleComment .rate span {float:left;line-height:15px;color:#000;font-size:10px;font-weight:bold;padding:0 10px;}
.commentsBlock .singleComment.sub {background-color:#f4f4f4;}
.commentsBlock .singleComment.sub .photo {margin-left:30px;}
.commentsBlock .singleComment.sub .text {width:750px;}
.commentsBlock .pagenator {padding:20px 0;width:975px;margin:0 -15px;background:url(../images/comment-sep.png) repeat-x top;}
.commentsBlock form.sendMessage {float:left;width:492px;padding:0;}
.commentsBlock form.sendMessage h2 {padding-bottom:18px;}
.commentsBlock form.sendMessage input[type="text"],
.commentsBlock form.sendMessage textarea {margin:0 0 15px;font:12px Arial,Helvetica,sans-serif;color:#666;}
.commentsBlock form.sendMessage input[type="text"] {float:left;width:210px;margin-right:14px;}
.commentsBlock form.sendMessage textarea {width:455px;height:100px;}
.commentsBlock form.sendMessage input[type="submit"] {width:109px;margin-top:5px;background-image:url(../images/btn-grey-short.png);color:#000;text-shadow:none;}
.commentsBlock .infoText {float:left;width:380px;padding:47px 0 0 18px;color:#000;font-family:'PFDinDisplayProRegular';}
.commentsBlock .infoText p {padding:0 0 18px;}
.commentsBlock .infoText p.font14 {font-size:14px;}
.commentsBlock .infoText span {color:#cc3366;cursor:pointer;text-decoration: underline;}
.commentsBlock .mark {padding:0 0 10px;}
.commentsBlock .mark p {text-transform:uppercase;font-size:11px;font-weight:bold;padding:5px 0 8px;color:#333;}
.commentsBlock .mark .stars {height:27px;width:155px;background:url(../images/stars.png) no-repeat 0 0;}
.commentsBlock .mark .stars span {float:left;height:27px;background:url(../images/stars.png) no-repeat 0 100%;}
.switch {width:52px;height:27px;position:relative;}
.switch i {display:block;width:5px;height:5px;position:absolute;right:0;background:url(../images/switch.png) no-repeat;cursor:pointer;}
.switch i.switch_top {background-position:0 0;top:4px;}
.switch i.switch_bottom {background-position:0 100%;bottom:4px;}
.switch input[type="text"] {margin:0;width:20px;font:12px Arial,Helvetica,sans-serif;color:#666;}
.binBlock {padding:10px 0 0;border-bottom:solid 1px #e7e7e7;margin:0 0 25px;}
.binBlock table {width:100%;border-collapse:collapse;}
.binBlock table tr td {vertical-align:middle;}
.binBlock table thead tr td {padding:16px 0;font-size:15px;color:#000;font-family:'PFDinDisplayProBold';text-transform:uppercase;background:#f3f3f3;border-top:solid 1px #e7e7e7;border-bottom:solid 1px #999;}
.binBlock table thead tr td.name {padding-left:10px;}
.binBlock table thead tr td.num {text-align:center;}
.binBlock table thead tr td.summa {text-align:right;}
.binBlock table tbody tr td {border-bottom:solid 1px #e7e7e7;}
.binBlock table tbody tr td.photo {width:64px;padding:4px 0;text-align:center;vertical-align:middle;}
.binBlock table tbody tr td.photo img {max-height:50px;max-width:50px;}
.binBlock table tbody tr td.price {width:105px;}
.binBlock table tbody tr td.num {width:90px;}
.binBlock table tbody tr td.num .switch {margin:0 auto;}
.binBlock table tbody tr td.summa {width:130px;text-align:right;}
.binBlock table tbody tr td.summa a {text-decoration: none;padding: 0px 43px;background-image:url(../images/btn-add-by-order.png);margin:7px 0 0 0;}
.binBlock table tbody tr td.del {width:22px;padding-left:25px;}
.binBlock table tbody tr td.del a {display:block;width:22px;height:22px;background:url(../images/del.png) no-repeat 0 0;}
.binBlock table tbody tr td.text {padding:10px 15px 10px 0;font-size:10px;}
.binBlock table tbody tr td.text p {padding:0 0 7px;}
.binBlock table tbody tr td.text a {text-decoration:none;}
.binBlock table tbody tr td.text a:hover {text-decoration:underline;}
.binBlock .bottomBlock {border-top:solid 1px #999;}
.binBlock .bottomBlock .row {clear:both;height:60px;border-bottom:solid 1px #e7e7e7;background:#f3f3f3;}
.binBlock .bottomBlock .row .title {height:60px;line-height:60px;float:left;padding:0 10px;text-transform:uppercase;color:#333;font-weight:bold;}
.binBlock .bottomBlock .row .price {float:right;padding:0 10px;height:60px;line-height:60px;font-weight:bold;color:#333;}
.binBlock .bottomBlock .row.total .title {font-size:16px;}
.binBlock .bottomBlock .row.total .price {font-size:20px;}
.binBlock .bottomBlock .row .select {height:60px;float:left;padding:0 0 0 60px;}
.binBlock .bottomBlock .row .select > span {float:left;padding:0 10px 0 0;line-height:60px;color:#333;font-size:10px;text-transform:uppercase;font-weight:bold;}
.binBlock .order {text-align:right;padding:20px 0;}
.binBlock .order a{text-decoration:none;padding:9px 13px;border:none;cursor:pointer;background-color:transparent;font-size:10px;text-transform:uppercase;color:#2b6221;font-family:Arial,Helvetica,sans-serif;font-weight:bold;text-shadow:#aff8a0 0px 1px;background:url(../images/btn.png) no-repeat 0 0;}
.typicalCarousel {padding:0 0 15px;}
.typicalCarousel .carousel {position:relative;}
.typicalCarousel a.browse {background:url(../images/arrs.png) no-repeat;display:block;width:29px;height:220px;cursor:pointer;position:absolute;top:0px;}
.typicalCarousel a.right {background-position:100% 0;right:0px;}
.typicalCarousel a.left {background-position:0 0;left:0px;}
.typicalCarousel .scrollable {position:relative;overflow:hidden;width:910px;height:220px;margin:0 0 0 28px;}
.typicalCarousel .scrollable .items {width:20000em;position:absolute;clear:both;}
.typicalCarousel .scrollable .items .scrollBlock {float:left;width:910px;}
.typicalCarousel .scrollable .items .item {float:left;width:178px;height:220px;background:url(../images/main-prod-bg.png) no-repeat 0 0;}
.typicalCarousel .scrollable .items .item .photo {height:160px;position:relative;text-align:center;width:160px;margin:0 auto;}
.typicalCarousel .scrollable .items .item .photo .img {width:160px;height:160px;display:table-cell;text-align:center;vertical-align:middle;}
.typicalCarousel .scrollable .items .item .photo .img img {max-height:160px;max-width:160px;}
.typicalCarousel .scrollable .items .item .photo .cat {position:absolute;left:0px;bottom:10px;height:14px;color:#000;font-weight:bold;font-size:9px;padding:0 5px;line-height:14px;text-transform:uppercase;background:#d7d7d7;border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px;behavior:url(../js/pie.htc);}
.typicalCarousel .scrollable .items .item .describe {font-size:11px;padding:5px 10px;}
.typicalCarousel .scrollable .items .item .describe a{text-decoration: none;}
.typicalCarousel .scrollable .items .item .describe span {color:#000;display:block;padding:3px 0 0;}
.typicalCarousel .title {padding:0 0 5px;}
.typicalCarousel .title h2 {float:left;padding-right:10px;}
.typicalCarousel .title a {float:left;background:#f3f3f3;height:16px;line-height:16px;padding:0 10px;text-decoration:none;font-size:9px;text-transform:uppercase;font-family:'PFDinDisplayProBold';position:relative;top:13px;border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;behavior:url(../js/pie.htc);}
.typicalCarousel .title a:hover {text-decoration:underline;}
.ratingMid {height:11px;width:60px;background:url(../images/rating-mid.png) no-repeat 0 0;}
.ratingMid span {float:left;height:11px;background:url(../images/rating-mid.png) no-repeat 0 100%;}
.productBlock {border-bottom:solid 1px #e3e3e3;margin:0 0 10px;}
.productBlock .previews {float:left;width:455px;margin:0 0 20px;}
.productBlock .previews .big {width:455px;height:455px;position:relative;padding:0 0 8px;}
.productBlock .previews .big .img {width:455px;height:455px;background:#fff;text-align:center;position:absolute;left:0;top:0;}
.productBlock .previews .big .img > div {width:455px;height:455px;display:table-cell;vertical-align:middle;}
.productBlock .previews .big img {max-width:455px;max-height:455px;}
.productBlock .previews .big .selected {z-index:9;}
.productBlock .previews .smalls {width:463px;}
.productBlock .previews .smalls .small {float:left;width:58px;height:58px;margin:0 8px 8px 0;}
.productBlock .previews .smalls .small > div {width:58px;height:58px;display:table-cell;vertical-align:middle;text-align:center;}
.productBlock .previews .smalls .small img {max-height:58px;max-width:58px;cursor:pointer;}
.productBlock .prodDescribe {float:right;width:470px;margin:0 0 20px;}
.productBlock .prodDescribe h1 {padding-bottom:5px;}
.productBlock .prodDescribe .art {color:#000;font-size:10px;padding:0 0 10px;}
.productBlock .prodDescribe .priceAndRate {color:#000;padding:0 0 12px;}
.productBlock .prodDescribe .priceAndRate .price {float:left;font-size:20px;text-transform:uppercase;}
.productBlock .prodDescribe .priceAndRate .rate {float:right;text-align:right;}
.productBlock .prodDescribe .priceAndRate .rate .ratingMid {float:right;margin-bottom:5px;}
.productBlock .prodDescribe .priceAndRate .rate p {clear:both;text-transform:uppercase;font-size:9px;font-weight:bold;}
.productBlock .prodDescribe .priceAndRate .rate p a {color:#000;}
.productBlock .prodDescribe .addTobin {padding:15px;margin:0 0 25px;background:#e7e7e7 url(../images/add-tobin.png) repeat-x top;position:relative;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;behavior:url(../js/pie.htc);}
.productBlock .prodDescribe .addTobin .switch {float:left;margin:0 0 0 10px;}
.productBlock .prodDescribe .addTobin input[type="submit"] {float:left;margin:-2px 0 0 10px;width:149px;background-image:url(../images/btn-tobin.png);}
.productBlock .prodDescribe .addTobin img {float:left;margin:1px 0 0 10px;}
.productBlock .prodDescribe .expandBlock {background:#fff;border:solid 1px #e3e3e3;margin:-10px 0 0;position:relative;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;behavior:url(../js/pie.htc);}
.productBlock .prodDescribe .expandBlock .title {padding:12px 15px 12px 35px;margin:10px 0 0;cursor:pointer;color:#000;font-size:15px;text-transform:uppercase;font-family:'PFDinDisplayProBold';font-weight:normal;background:url(../images/expand-close.png) no-repeat 15px 50%;}
.productBlock .prodDescribe .expandBlock .title.open {background-image:url(../images/expand-open.png);}
.productBlock .prodDescribe .expandBlock .content {display:none;padding:0 15px 12px;}
.productBlock .prodDescribe .expandBlock .content .scrollPane {width:100%;height:180px;overflow:auto;}
.productBlock .prodDescribe .expandBlock.info {z-index:5;}
.productBlock .prodDescribe .expandBlock.info .title {margin:0;}
.productBlock .prodDescribe .meta {padding:16px 0;height:20px;}
.productBlock .prodDescribe .meta .social {float:left;height:20px;padding:0px;margin-left:-6px;}
.productBlock .prodDescribe .meta .sizes {float:right;height:20px;padding:0 5px 0 32px;line-height:20px;color:#000;text-transform:uppercase;font-size:10px;font-weight:bold;background:url(../images/sizes.png) no-repeat 0 50%;}
.productBlock .prodDescribe .meta .sizes a {text-decoration:none;color:#000;}
.productBlock .prodDescribe .meta .sizes a:hover {text-decoration:underline;}
.productBlock .textBlock {padding:0 0 15px;}
.productBlock .textBlock p {font-size:13px;padding:0 0 5px;}
.productBlock .textBlock p a {color:#999;}
.popupBg {position:fixed;left:0;top:0;width:100%;height:100%;background:#b3b3b3;z-index:99;}
.popupBg.scroll {position:absolute;}
.popupBg .win {padding:30px 60px 40px;background:#f3f3f3;position:absolute;top:50%;left:50%;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;}
.popupBg .win span.close {display:block;width:20px;height:20px;position:absolute;top:10px;right:10px;cursor:pointer;background:url(../images/close.png) no-repeat 0 0;}
.popupBg .form {width:360px;}
.popupBg .form label {float:left;width:100px;padding:7px 0 7px;font-size:10px;color:#000;font-weight:bold;text-transform:uppercase;}
.popupBg .form input[type="submit"].remember {margin:5px 0 0 102px;}
.popupBg .form input[type="submit"].btnAddAddr {margin:5px 0 0 102px;}
.popupBg .form p {font-size:11px;font-weight:bold;padding:5px 0 15px;}
.popupBg .sizesChart {width:600px;}
.popupBg .sizesChart table {border-collapse:collapse;margin:25px 0 0 0;}
.popupBg .sizesChart table thead tr td span {float:left;padding:5px 10px;background:#666;color:#fff;font-size:11px;font-weight:bold;}
.popupBg .sizesChart table tbody tr td {padding:5px 15px;font-size:11px;color:#333;background:#f8f8f8;}
.popupBg .sizesChart table tbody tr td:first-child {padding-left:10px;}
.popupBg .sizesChart table tbody tr.colored td {background:#ebebeb;}
.voting{position:relative;width:104px;height:22px;padding:0px;overflow:hidden;background:url(../images/stars.png) 0 -22px no-repeat;list-style:none;margin-bottom:10px;}

.voting li{float:left;}
.voting a{position:absolute;top:0;left:0;display:block;height:22px;text-indent:-9999px;}
.voting a.cur,.voting a:hover,.voting:hover a.cur:hover,.voting.phover a.cur:hover,.voting:hover a:hover,.voting.phover a:hover{background:url(../images/stars.png) no-repeat;}
.voting:hover a.cur,.voting.phover a.cur{background:none;}
.voting .one a{width:15px;z-index:5;}
.voting .two a{width:34px;z-index:4;}
.voting .three a{width:56px;z-index:3;}
.voting .four a{width:80px;z-index:2;}
.voting .five a{width:104px;z-index:1;}

/* -------------
 * Radios
 * ------------- */
.jqTransformRadioWrapper {float:left;display:block;margin:3px 4px 6px 0;}
.jqTransformRadio {background:transparent url(../images/radio.png) no-repeat center top;vertical-align:middle;height:9px;width:9px;display:block;/*display:-moz-inline-block;*/;}
.paymentBlock .payment td.cards .jqTransformRadioWrapper {margin-top:15px;}
.prodContent .parametres p.size .jqTransformRadioWrapper {float:none;display:inline;position:relative;top:-2px;}
.prodContent .parametres p.size .jqTransformRadio {display:inline-block;}
/* -------------
 * Checkboxes
 * ------------- */
span.jqTransformCheckboxWrapper{display:block;float:left;margin-top:2px;margin-right:7px;margin-bottom:7px;}
a.jqTransformCheckbox {background:transparent url(../images/check.png) no-repeat center top;vertical-align:middle;height:9px;width:9px;display:block;/*display:-moz-inline-block;*/;}
/* -------------
 * Checked - Used for both Radio and Checkbox
 * ------------- */
a.jqTransformChecked {background-position:center bottom;}
/* -------------
 * Selects
 * ------------- */
.jqTransformSelectWrapper {width:212px !important;position:relative;height:27px;background:url(../images/select-left.png) no-repeat top left;float:left;line-height:normal !important;}
.jqTransformSelectWrapper div span {font-size:10px;text-transform:uppercase;float:none;position:absolute;white-space:nowrap;height:27px;width:183px !important;line-height:15px;padding:5px 0 0 7px;overflow:hidden;cursor:pointer;/*border:1px solid #CCCCCC;*/
/*  border-right:none;*/;}
.jqTransformSelectWrapper  a.jqTransformSelectOpen {display:block;position:absolute;right:0px;width:27px;height:27px;background:url(../images/select-right.png) no-repeat center center;}
.jqTransformSelectWrapper ul {position:absolute;width:210px !important;top:26px;left:0px;list-style:none;background-color:#FFF;border:solid 1px #CCC;display:none;margin:0px;padding:0px;overflow:auto;overflow-y:auto;z-index:10;}
.jqTransformSelectWrapper ul a {display:block;padding:5px;text-decoration:none;color:#666;background-color:#FFF;font-size:10px;text-transform:uppercase;}
.jqTransformSelectWrapper ul a.selected {background:#EDEDED;color:#333;}
.jqTransformSelectWrapper ul a:hover,.jqTransformSelectWrapper ul a.selected:hover {background:#aaa;text-decoration:none !important;color:#fff;}
.binBlock .bottomBlock .row .select .jqTransformSelectWrapper {margin-top:16px;}
.productBlock .prodDescribe .addTobin .jqTransformSelectWrapper {width:185px !important;}
.productBlock .prodDescribe .addTobin .jqTransformSelectWrapper ul {width:183 !important;}
/* -------------
 * Hidden - used to hide the original form elements
 * ------------- */
.jqTransformHidden {display:none;}
.jspContainer{overflow:hidden;position:relative;}
.jspPane{position:absolute;}
.jspVerticalBar{position:absolute;top:0;right:0;width:12px;height:100%;}
.jspHorizontalBar{position:absolute;bottom:0;left:0;width:100%;height:16px;background:red;}
.jspVerticalBar *,.jspHorizontalBar *{margin:0;padding:0;}
.jspCap{display:none;}
.jspHorizontalBar .jspCap{float:left;}
.jspTrack{background:#e3e3e3;width:10px;border:solid 1px #d8d8d8;border-bottom:none;border-top:none;position:relative;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;behavior:url(../js/pie.htc);}
.jspDrag{background:#afa9a9 url(../images/scroll-drag.png) repeat-y left;position:relative;width:12px;top:0;left:-1px;cursor:pointer;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;behavior:url(../js/pie.htc);}
.jspHorizontalBar .jspTrack,.jspHorizontalBar .jspDrag{float:left;height:100%;}
.jspArrow{background:#50506d;text-indent:-20000px;display:block;cursor:pointer;}
.jspArrow.jspDisabled{cursor:default;background:#80808d;}
.jspVerticalBar .jspArrow{height:16px;}
.jspHorizontalBar .jspArrow{width:16px;float:left;height:100%;}
.jspVerticalBar .jspArrow:focus{outline:none;}
.jspCorner{background:#eeeef4;float:left;height:100%;}