<legend>Популярное</legend>
<?php foreach($this->arCatalog as $id => $arItem) { ?>
  <div class="col-xs-4 col-md-3 gridGoods">
  	<a href="<?php echo $arItem['link']?>" class="linkGoods"><div class="goods">
  	<img src="<?php echo $arItem['detail_image']['thumbs_url']?>">
  		<span class="titleGoods"><?php echo $arItem['name']?> <?php if($arItem['surprice'] > 0) { ?><br><span class="text-success">+ подарок</span><?php } ?></span>
  		<span class="priceGoods"><?php echo $arItem['price']?> р.</span>
      <?php if($arItem['old_price'] > 0) { ?>
        <span class="oldPriceGoods"><?php echo $arItem['old_price']?> р.</span>
      <?php } ?>
  	</div></a>
  </div>
<?php } ?>