
<div class="aboutCat" style="padding-bottom:10px">
  <h1><?php echo $this->CategoryName?></h1>
  <?php echo $this->textContent?>
</div>
<div class="sorting">
  <div class="sort">
    <div class="view">
      <span class="grid"></span>
      <a href="javascript:$('form#viewform2').submit()" class="list"></a>
    </div>
    <div class="param">
      Cортировать:
        <a href="?sort=<?php echo (isset($_GET['sort']) && $_GET['sort'] == 1 ? 2 : 1)?>" class="<?php echo (isset($_GET['sort']) && $_GET['sort'] == 1 ? 'down' : 'up')?>">по цене</a>
        <a href="javascript:$('form#sortform3').submit()">по популярности</a>
    </div>
  </div>
  <div class="clear"></div>
</div>

<div class="catalogGrid">
  <?php if(!$this->arItems) { ?>
    <div class="row" align="center">Товаров в данной категории не найдено</div>
  <?php } else { foreach($this->arItems as $key => $arItem) {?>
  	 <div class="col-xs-4 col-md-4 gridGoods">
    <a href="<?php echo $arItem['link']?>" class="linkGoods"><div class="goods">
    <img src="<?php echo $arItem['detail_image']['thumbs_url']?>">
      <span class="titleGoods"><?php echo $arItem['name']?> <?php if($arItem['surprice'] > 0) { ?><br><span class="text-success">+ подарок</span><?php } ?></span>
      <span class="priceGoods"><?php echo $arItem['price']?> р.</span>
      <?php if($arItem['old_price'] > 0) { ?>
        <span class="oldPriceGoods"><?php echo $arItem['old_price']?> р.</span>
      <?php } ?>
    </div></a>
  </div>
  <?php } 
    }?>
</div>