<?php
if($this->arData['url'] != '/' && mb_strlen(trim($this->arData['url'])) > 0)
	$this->arData['url'] = rtrim($this->arData['url'], '/');
?>
<script src="/engine/templates/adminv2/lib/tinymce/tinymce.min.js"></script>
<script src="/engine/templates/adminv2/lib/tinymce/langs/ru.js"></script>
<script type="text/javascript">
	ShowEditor();
	$(document).ready(function(){
		var redactor = 1;
		$('#control-redactor').on('click', function(){

			if(redactor == 1) {
             	tinymce.remove('.content');
             	$(this).text('Включить редактор');
            	redactor = 0;
			} else {
				ShowEditor();
             	$(this).text('Отключить редактор');
				redactor = 1;
			}

			return false;
		});
	});

	function ShowEditor(){
		tinymce.init({
    		selector: "textarea.content",
    		theme: "modern",
    		plugins: [
    		    "advlist autolink lists link image charmap print preview hr anchor pagebreak",
    		    "searchreplace wordcount visualblocks visualchars code fullscreen",
    		    "insertdatetime media nonbreaking save table contextmenu directionality",
    		    "emoticons template paste textcolor"
    		],
    		toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist 	outdent indent | link image",
    		toolbar2: "print preview media | forecolor backcolor emoticons",
    		image_advtab: true,
		});
	}
</script>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-primary" data-collapsed="0">
			<div class="panel-heading">
				<div class="panel-title">
					<?php if(isset($this->arData['id']) && intval($this->arData['id']) <= 0) { ?>
						Создать страницу
					<?php } else { ?>
						Редактировать страницу
					<?php } ?>
				</div>
			</div>
			<div class="panel-body">
				<form role="form" method="POST" action="<?php echo $_SERVER['REQUEST_URI']?>" id="optionsForm" class="form-horizontal form-groups-bordered">
				<?php if(!empty($this->arData['id'])) { ?>
					<input type="hidden" name="id" value="<?php echo $this->arData['id']?>" />
				<?php } ?>
				<?php echo Rdl\Security\Security::getInstance()->getPostString();?>
					<div class="form-group">
						<label for="options_title" class="col-sm-3 control-label">Название страницы</label>
						<div class="col-sm-5">
							<input type="text" class="form-control" id="options_title" name="title" placeholder="Название страницы" value="<?php echo $this->arData['title']?>">
						</div>
					</div>
					<div class="form-group">
						<label for="options_url" class="col-sm-3 control-label">URL страницы</label>
						<div class="col-sm-5">
							<input type="text" class="form-control" id="options_url" name="url" placeholder="URL сайта" value="<?php echo $this->arData['url']?>">
						</div>
					</div>
					<div class="form-group">
						<label for="options_description" class="col-sm-3 control-label">Описание (description)</label>
						<div class="col-sm-5">
							<textarea placeholder="Описание страницы(description)" id="options_description" class="form-control" name="desc"><?php echo $this->arData['desc']?></textarea>
						</div>
					</div>
					<div class="form-group">
						<label for="options_keywords" class="col-sm-3 control-label">Ключевые (keywords)</label>
						<div class="col-sm-5">
							<textarea placeholder="Ключевые слова(keywords)" id="options_keyword" class="form-control" name="keyword"><?php echo $this->arData['keyword']?></textarea>
						</div>
					</div>
					<div class="form-group">
						<label for="options_page" class="col-sm-3 control-label">Содержимое страницы<br />(<a href="#" id="control-redactor">Отключить редактор</a>)</label>
						<div class="col-sm-9">
							<textarea placeholder="Содержимое страницы" name="page" class="form-control content"><?php echo $this->arData['page']?></textarea>
						</div>
					</div>
					<div class="form-group">
						<label for="options_url" class="col-sm-3 control-label">Шаблон</label>
						<div class="col-sm-5">
							<input type="text" class="form-control" id="options_url" placeholder="Шаблон страницы" name="template" value="<?php echo $this->arData['template']?>">
						</div>
					</div>
					<div class="form-group">
						<label for="options_keywords" class="col-sm-3 control-label">
							<a href="javascript:void(0);" onclick="$('.controller-act').toggle(1000)">Показать/скрыть</a>
						</label>
					</div>
					<div class="form-group controller-act"<?php echo (empty($this->arData['controller']) ? ' style="display: none;"':'')?>>
						<label for="options_keywords" class="col-sm-3 control-label">
							Контроллер
						</label>
						<div class="col-sm-3">
							<input type="text" placeholder="Контроллер" id="form-field-6" class="form-control" name="controller" value="<?php echo $this->arData['controller']?>">
						</div>
						<div class="col-sm-3">
							<input type="text" placeholder="метод" id="form-field-6" class="form-control" name="action" value="<?php echo $this->arData['action']?>">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-5">
							<input type="submit" value="Сохранить" class="btn btn-blue btn-block">
						</div>
					</div>
				</form>
				
			</div>
		
		</div>
	
	</div>
</div>